[2015-09-17 04:11] real1900 opened #4 "Please update to Swift 2.0"

[2015-11-20 17:09] Huluhu commented on #4
update to Swift 2.0?

[2015-11-20 17:30] hebertialmeida commented on #4
@real1900 @Huluhu  Hey guys, good news, I'm working on this and a lot of improvements.

I will try to release it soon.

[2015-11-20 17:41] Huluhu commented on #4
GREAT!

[2015-12-02 00:05] hebertialmeida commented on #4
@Huluhu @real1900 The code is updated to Swift 2

[2015-12-02 00:05] #4 closed

[2015-12-02 00:59] Huluhu commented on #4
Thank you! But I got some error message:

The file “Pods.debug.xcconfig” couldn’t be opened because there is no such file. (/Users/HULI/Desktop/FolioReaderKit-master/Example/Pods/Target Support Files/Pods/Pods.debug.xcconfig)
error: The sandbox is not in sync with the Podfile.lock. Run 'pod install' or update your CocoaPods installation.

Do I need to turn on some settings before I can play it?

[2015-12-02 01:02] hebertialmeida commented on #4
Now I have implemented Cocoapods. Run 'pod install'.

[2015-12-02 02:32] Huluhu commented on #4
I have run the pod install in terminal, but I got this: /Users/Hu/Desktop/FolioReaderKit-master/Source/FolioReaderFontsMenu.swift:10:8: No such module 'TGPControls'

[2015-12-02 02:38] hebertialmeida commented on #4
Yes, it's a but... I had problems with TGPControls so I fixed and submitted a Pull Request, it's accepted but now they need to update podspec.

I have just pushed a new commit to master branch with a fix, download it.

[2015-12-02 02:59] Huluhu commented on #4
That's been fixed. But but when compile Example.xcodeproj, i still got /Users/Hu/Desktop/FolioReaderKit-master/Example/Example/ViewController.swift:10:8: No such module 'FolioReaderKit' . Should I manually add the framework?

[2015-12-02 03:01] hebertialmeida commented on #4
Do you have to build using the Example.xcworkspace

Heberti Almeida
iOS Developer & UI Designer

On Wed, Dec 2, 2015 at 12:59 AM, Huluhu <notifications@github.com> wrote:

[2015-12-02 03:49] Huluhu opened #6 "Great for stimulator. Problem with iPhone 6 Plus"
App broke after LaunchScreen.
I used iPhone 6 Plus. Xcode Version 7.1.1 (7B1005). iMac 21 inch 2014.

dyld`dyld_fatal_error:
->  0x120039088 <+0>: brk    #0x3

and in command line:

dyld: Library not loaded: @rpath/libswiftCore.dylib
  Referenced from: /var/mobile/Containers/Bundle/Application/816D7C8A-145D-4D3C-BE37-B204B6A86C8C/Example.app/Example
  Reason: no suitable image found.  Did find:
	/

[2015-12-03 11:59] hebertialmeida commented on #6
It's working normally on device here, first check the last version of source, if does not work try this http://stackoverflow.com/questions/26024100/dyld-library-not-loaded-rpath-libswiftcore-dylib

[2015-12-03 11:59] #6 closed

[2015-12-03 17:25] Huluhu commented on #6
Thank You!

[2015-12-08 01:44] hebertialmeida opened #7 "Reader crashes if rotate while parsing large books"

[2015-12-08 01:46] #7 closed

[2015-12-29 11:54] hebertialmeida opened #9 "In-App Dictionary"
Implementation of define for words.

Sample:
[code]
See: https://littlebitesofcocoa.com/154-return-of-the-uikit-b-sides

[2015-12-29 23:41] kjantzer opened #10 "Highlights: after changing a highlight style, should that become the default?"
I'm posting this to start a discussion.

I feel like it would be the most intuitive that if a user adds a highlight, then changes the style to pink, the next applied "highlight" should use pink too until the user selects a different style. So, the highlight style will always default to the last used style.

Thoughts?

[2015-12-29 23:47] kjantzer opened #11 "Add support for ePub 3.0 "Media Overlays""
Particularly, the ability to sync audio to text.

I have begun doing some testing to implement this feature by starting with `Bridge.js`

[code]

[code]

[2015-12-29 23:48] kjantzer commented on #9
:+1:

[2015-12-31 21:27] kjantzer opened #12 "Bug: shouldHideNavigationOnTap=true doesn't appear to work"
With `shouldHideNavigationOnTap=true`, tapping does nothing. The nav bar remains hidden.

[2015-12-31 21:58] kjantzer opened #14 "Bug: deleting visible highlight from tableview crashes if trying to delete again from text view"
If you can see a highlight in the text (current chapter) then you delete that highlight from the table view and return back to the text view, the highlight is still visible. If you try to edit the highlight, such as deleting it, the app will crash.

This makes sense, as the highlight no longer exists.

The current chapter highlights should be refreshed once one is deleted to keep this from happeni

[2015-12-31 22:01] kjantzer commented on #14
Interestingly, performing these actions on the "Sharing Hope" app does not crash the app.

Although the highlight is still visible until reloading that chapter which is not ideal.

[2016-01-01 20:40] #12 closed

[2016-01-03 18:40] #14 closed

[2016-01-03 23:46] hebertialmeida commented on #14
@kjantzer I think that this is solved

[2016-01-03 23:59] kjantzer commented on #14
Awesome. I'll pull and test it tomorrow. 

On Sun, Jan 3, 2016 at 3:46 PM -0800, "Heberti Almeida" <notifications@github.com> wrote:

@kjantzer I think that this is solved

—
Reply to this email directly or view it on GitHub.

[2016-01-04 11:59] hebertialmeida commented on #10
I agree with you @kjantzer this should be use the last used style.

[2016-01-04 12:46] hebertialmeida opened #15 "fatal error: unexpectedly found nil while unwrapping an Optional value"
fatal error: unexpectedly found nil while unwrapping an Optional value

[code]

[2016-01-04 12:50] #15 closed

[2016-01-04 15:58] kjantzer commented on #11
I am working on this feature in my [own fork](https://github.com/kjantzer/FolioReaderKit). I will send a PR when I get it completed.

[2016-01-04 16:03] hebertialmeida commented on #11
Perfect 🚀

[2016-01-04 17:44] hebertialmeida commented on #11
@kjantzer Do you have a sample book that implements this?

[2016-01-04 17:49] kjantzer commented on #11
Yes: https://dl.dropboxusercontent.com/u/26386994/A%20Christmas%20Carol.epub

[2016-01-04 17:50] hebertialmeida commented on #11
Thanks!

[2016-01-04 22:53] kjantzer commented on #11
Making progress. SMIL files are parsed and saved to book model. Long press on a word shows a "play" button. Pressing it begins playing the audio and following along with highlighted text. The page auto-scrolls when the current word is near the bottom.

![audio mov](https://cloud.githubusercontent.com/assets/467487/12102882/f146a9c8-b2f2-11e5-8396-0038dc1ff0ec.gif)

[2016-01-04 23:28] hebertialmeida commented on #11
Great, I think that we should include the play button on  Copy | Highlight | Share context.
Also on navigation bar a play/stop like in iTunes.

Heberti Almeida
iOS Developer & UI Designer

On Mon, Jan 4, 2016 at 2:53 PM -0800, "Kevin Jantzer" <notifications@github.com> wrote:

Making progress. SMIL files are parsed and saved to book model. Long press on a word shows a "play" button. Pressing it be

[2016-01-05 00:28] hebertialmeida opened #16 "Add Notes to a Highlight"
Ability to add notes to a Highlight like in iBooks.

[2016-01-05 15:41] kjantzer commented on #16
:+1:

[2016-01-05 15:53] kjantzer commented on #11
The play button is already in that context, but in the preview above, I was trying the icon in place of the word "Highlight" to save space.

![screen shot 2016-01-05 at 7 41 43 am](https://cloud.githubusercontent.com/assets/467487/12119517/1481d212-b381-11e5-9f66-1fe60b7e7db0.png)

But there might be enough space (and cleaner design) with text:

![screen shot 2016-01-05 at 7 50 22 am](https://clou

[2016-01-05 15:57] kjantzer commented on #11
Does iBooks have a play/stop button? I don't see one....

[2016-01-05 16:48] hebertialmeida commented on #11
@kjantzer On iBooks for Mac there on button but it is for volume.
![screen shot 2016-01-05 at 14 42 45](https://cloud.githubusercontent.com/assets/103670/12121140/ebcdfe4c-b3ba-11e5-954f-a69b2551cde6.png)

I think that show play/pause on side of share chapter is a good place. Shows when the audio is enabled.

[2016-01-05 17:05] hebertialmeida opened #17 "Add support for ePub 3.0 books"
On epub 3 the toc.ncx file was deprecated, in order do read this new format we need to make this verifications and parse the new toc file. To support both formats.

[2016-01-05 19:39] kjantzer commented on #17
@hebertialmeida what replaces the ` toc.ncx` file? Is it still `XML`?

[2016-01-05 19:49] hebertialmeida commented on #17
I found this comparison article https://www.safaribooksonline.com/blog/2011/06/14/ncx-into-epub3/

The TOC file is now a HTML file reference on OPF file, I think that we can still use the same xml library to extract the new toc from html.
https://github.com/IDPF/epub3-samples/blob/master/30/moby-dick-mo/OPS/package.opf#L43
https://github.com/IDPF/epub3-samples/blob/master/30/moby-dick-mo/OPS/packa

[2016-01-05 19:51] hebertialmeida commented on #17
The sample above includes "Media Overlays" in the first 2 chapters, I have tested it on Readium.

[2016-01-06 23:06] kjantzer commented on #11
![media-overlay-progress mov](https://cloud.githubusercontent.com/assets/467487/12157499/fb69ae06-b486-11e5-8fd3-3cf20598879c.gif)

[2016-01-06 23:17] hebertialmeida commented on #11
@kjantzer Really cool. 🎉

And if the Play/Pause button be the same button?

[2016-01-06 23:19] kjantzer commented on #11
Yeah, I thought about making the play/pause button the same, but it was easier (for now) to reuse the segmented control I copied from the fonts menu :wink:

We can change it.

[2016-01-07 16:13] hebertialmeida opened #20 "Add option to delete or keep original book.epub"
Today the original epub is always removed, add a option to keep the original.

[2016-01-07 16:25] kjantzer commented on #20
I'm curious, what do you mean its "removed"?

[2016-01-07 16:27] hebertialmeida commented on #20
The original zipped epub file is replaced by a folder with the same name, unzipped. Seems that it is the same but it's not, this is to avoid unzip files everytime.

[2016-01-07 16:27] kjantzer opened #21 "Add vertical scrubber to quickly jump pages in current chapter"
Here is what it looks like in iBooks (although I think the scrubber is too close to the text)

![photo jan 07 8 23 59 am](https://cloud.githubusercontent.com/assets/467487/12175680/72ae9d5a-b518-11e5-8ac4-57030938ab67.png)

[2016-01-07 16:36] kjantzer opened #22 "Add horizontal scrolling option"
It would perform the same as the vertical with the pages continuously scrolling to the side.

Not high priority, but could be a nice feature for users.

[2016-01-07 16:42] kjantzer commented on #22
Hmm, I was assuming `UICollectionView` had a horizontal scrolling setting, but I guess I was thinking of `UIPageViewController`.

http://stackoverflow.com/a/19435898/484780

[2016-01-07 17:46] hebertialmeida commented on #22
Yes `UICollectionView` works horizontally.

[2016-01-11 20:13] hebertialmeida commented on #11
Awesome work @kjantzer

[2016-01-12 12:33] hebertialmeida commented on #11
@kjantzer I was testing it yesterday night and I found some small bugs:
- Tap to play, close the book and still reading.
- Highlighted reading text is not showing on night mode.
- When stop reading It's not removing the highlighted reading text.

[2016-01-12 13:52] hebertialmeida commented on #11
I have designed some controls for the audio player, adding the next and previous button like Readium.

![audio-controls](https://cloud.githubusercontent.com/assets/103670/12265167/c9d0b4de-b922-11e5-897b-8aee7b3b3977.png)

What do you think?

[2016-01-12 15:51] kjantzer commented on #11
I like the next and prev buttons (I was going to add those eventually). However, unlike readium, I feel like it should skip chapters, not highlight phrases. If skipping phrases is desired, I feel like it would make more sense to add "skip 15 second" buttons like podcasts app does.

I also thought about adding a volume slider but didn't get around to it.

I'm not sure how I feel about the navbar ic

[2016-01-12 16:04] hebertialmeida commented on #11
About previous and next buttons I think that we can use the same approach of Apple Podcasts app, I like it, also I miss a volume control on player while using it.

The navbar icon was looking for a more intuitive solution, because the volume icon is not that intuitive.

On Speed I have used the same Podcasts app speeds.

The green color is different but it's my fault, use the current one, I was ju

[2016-01-12 16:06] kjantzer commented on #11
:+1:

[2016-01-12 16:07] hebertialmeida commented on #11
About that bugs, are you able to reproduce them?

[2016-01-12 16:11] kjantzer commented on #11
- Tap to play, close the book and still reading.

- Highlighted reading text is not showing on night mode.

- When stop reading It's not removing the highlighted reading text.

[2016-01-12 17:54] kjantzer commented on #21
@hebertialmeida Check it out.

![scubber mov](https://cloud.githubusercontent.com/assets/467487/12271889/51cfd2ea-b912-11e5-901a-cd8ed426da0f.gif)

I still need to working out the positioning on different devices (I've only tested on iphone 6)

[2016-01-12 18:01] hebertialmeida commented on #21
Nice!

It scrolls the chapter position (UIScrollView) or it also change chapters (UICollectionView)?

[2016-01-12 18:49] kjantzer commented on #21
Just the `UIScrollView` at the moment

[2016-01-12 22:10] #21 closed

[2016-01-13 12:17] hebertialmeida commented on #11
I have fixed "Tap to play, close the book and still reading."

[2016-01-13 17:07] kjantzer opened #25 "Should synced audio mark be removed when audio is paused?"
From a user's perspective, what makes most sense?

[2016-01-13 17:08] kjantzer opened #26 "Enhance audio player controls and icons"
![c9d0b4de-b922-11e5-897b-8aee7b3b3977](https://cloud.githubusercontent.com/assets/467487/12301489/306224c8-b9d5-11e5-9d1f-d372766eb004.png)

@hebertialmeida Do you have a source file with the icons in this mockup?

[2016-01-13 17:09] kjantzer opened #27 "Add "now playing" info to lock screen for audio synced epubs"
We will likely have a "cover" image specified in the OPF that we can use to display on the lock screen.

[2016-01-13 17:10] hebertialmeida commented on #26
@kjantzer I have the source in .sketch, does it work for you?

[2016-01-13 17:11] kjantzer commented on #26
I don't have the Sketch app

[2016-01-13 17:11] hebertialmeida commented on #25
I think it should be hided, because the interaction stopped.

[2016-01-13 17:12] hebertialmeida commented on #26
What do you need? The exported assets work for you?

[2016-01-13 17:14] kjantzer commented on #26
Yeah, I think so

[2016-01-13 17:19] hebertialmeida commented on #26
Here are the images.
[audio-player-icons.zip](https://github.com/FolioReader/FolioReaderKit/files/89236/audio-player-icons.zip)

[2016-01-13 17:21] #11 closed

[2016-01-13 17:30] hebertialmeida commented on #27
:+1:

[2016-01-13 17:31] hebertialmeida commented on #27
Also we need to enable background audio capability.

[2016-01-13 17:37] kjantzer opened #29 "Disable screen dimming when playing audio"
If the person is reading only or listening only, this is not needed. But if the users is listening and reading along, there will be very limited action by the user since the audio player will auto-scroll the page.

If this is the case, we don't want the screen to auto-dim.

[code]

http://stackoverflow.com/a/28332647/484780

[2016-01-13 17:39] hebertialmeida commented on #29
:+1:  It's true, we can't forget it disabled, when audio stops or closes the book we need to enable it.

[2016-01-13 17:44] kjantzer commented on #26
@hebertialmeida We need a pause icon too ;)

[2016-01-13 17:49] hebertialmeida commented on #26
Here.
[pause-icon.zip](https://github.com/FolioReader/FolioReaderKit/files/89282/pause-icon.zip)

[2016-01-13 19:03] kjantzer opened #30 "`updateCurrentPage` has some issues"
While playing around with audio controls, occasionally `updateCurrentPage` is called and sets `currentPage` to a wrong page. Usually it sets it to one that just "loaded" but is not yet visible (such as when near the end of the chapter)

This causes issues with `next` and `prev` in #26

[2016-01-13 20:03] hebertialmeida commented on #30
How do I simulate this?

[2016-01-13 20:29] kjantzer commented on #30
If you open sherlock holmes and mess around with changing pages and scrolling, you'll see the current page mess up. One way to see the bug is the title in the nav bar will change even though the chapter did not change

![bug mov](https://cloud.githubusercontent.com/assets/467487/12306938/47d69eec-b9f1-11e5-94e2-91b6c4d391d6.gif)

[2016-01-13 20:37] kjantzer commented on #30
It's very noticeable if you trigger `changePageToPrevious` which can be easily done using my latest commit:
https://github.com/kjantzer/FolioReaderKit/commit/79ae3e9bc8aca0a3d0c4a629e6b284aee5efb9e5

Notice how the `prev` button is pressed twice to change pages and that the title changes on every other press.

![bug2 mov](https://cloud.githubusercontent.com/assets/467487/12307125/40f5e5dc-b9f2-11e

[2016-01-13 20:49] hebertialmeida commented on #30
@kjantzer  Take a look on this last commit, I think that now it's fixed.

[2016-01-13 21:56] kjantzer commented on #30
`changePageToPrevious` is still buggy :disappointed:

[2016-01-13 22:05] hebertialmeida commented on #30
Why the next and previous navigate between pages?

[2016-01-13 22:06] kjantzer commented on #30
Why am I navigating between pages?

[2016-01-13 22:25] hebertialmeida commented on #30
Yes, but if you have finished the implementation you can send a pull request and I will try to fix it.

[2016-01-13 23:03] #9 closed

[2016-01-13 23:46] #30 closed

[2016-01-13 23:50] hebertialmeida commented on #26
Test the latest version please. Next and previous should work now.

On Readium the next and previous go to next text block, and only change the page if it is the last text block of that chapter, or the first in case of previous. What do you think?

[2016-01-14 20:59] #29 closed

[2016-01-14 23:11] kjantzer commented on #26
Tested and it seem much better! :ok_hand:

***

Here's my thoughts on the next/prev button...

As a user, I can begin playing anywhere by long pressing on a word and pressing "play". Text blocks change so fast that pressing prev or next barely does anything.

If I was to play a book from the beginning, I could see wanting to skip the current chapter if it was something like the intro, preface, or

[2016-01-14 23:22] kjantzer opened #34 "Let user choose the audio synced highlight style"
Right now we have one built in style
***
![screen shot 2016-01-14 at 3 16 39 pm](https://cloud.githubusercontent.com/assets/467487/12340868/6d849aa4-bad2-11e5-99a5-3546f8ac6125.png)
***
but it might be nice to allow the user to select a less obtrusive highlight style such as:
***
![screen shot 2016-01-14 at 3 17 50 pm](https://cloud.githubusercontent.com/assets/467487/12340870/723cec7c-bad2-11e5-8

[2016-01-15 00:27] hebertialmeida commented on #34
Interesting, I can design something like day/night mode

[2016-01-15 02:12] hebertialmeida commented on #27
@kjantzer It's working.
![Uploading IMG_4601.PNG…]()

[2016-01-15 02:36] kjantzer commented on #27
@hebertialmeida Sweet! :tada:

[2016-01-15 03:13] hebertialmeida commented on #27
@kjantzer Please test it...

[2016-01-15 16:13] kjantzer commented on #27
@hebertialmeida Looks great.

[2016-01-15 16:47] kjantzer commented on #27
I found a few bugs; I'm fixing them now.

[2016-01-15 16:51] kjantzer opened #35 "Add "bookmarking" functionality like in iBooks"
I bet we could leverage the code that remembers the users place in the book. We'll just be remembering more than one place.

![photo jan 15 8 46 31 am](https://cloud.githubusercontent.com/assets/467487/12358996/f44f4362-bb64-11e5-98c9-d81febc04f0d.png)

![photo jan 15 8 46 20 am](https://cloud.githubusercontent.com/assets/467487/12359000/f6ae3050-bb64-11e5-9aee-40ce74ca35a2.png)

[2016-01-15 17:16] #27 closed

[2016-01-15 18:28] kjantzer opened #37 "Highlights have issues when blocks of text or paragraphs selected"
Large blocks of highlighted text work fine the first time they are created, but when the book/app is reloaded, those highlights do not appear in the text.

*This is a known bug*

**Rather than creating our own solution, it might be worth while to use a tool like "rangy"**
https://github.com/timdown/rangy/wiki/Highlighter-Module
http://rangy.googlecode.com/svn/trunk/demos/highlighter.html

[2016-01-15 18:32] kjantzer commented on #37
Selecting multiple paragraphs renders weird:

![screen shot 2016-01-15 at 10 30 45 am](https://cloud.githubusercontent.com/assets/467487/12361469/26cd22c4-bb73-11e5-8a84-e3bcb353945b.png)

[2016-01-15 18:35] hebertialmeida commented on #37
I don't know how iBooks handle this, but they allow highlight between multiple paragraphs.

[2016-01-15 18:35] kjantzer commented on #37
I think we just need to modify the CSS. I'm looking at doing this now.

[2016-01-15 18:51] kjantzer commented on #35
When implemented, lock screen controls should be updated to hook bookmark to `bookmarkCommand`

https://developer.apple.com/library/ios/documentation/MediaPlayer/Reference/MPRemoteCommandCenter_Ref/#//apple_ref/occ/instp/MPRemoteCommandCenter/bookmarkCommand

[2016-01-15 18:57] kjantzer commented on #16
Before we do this, we should probably fix #37

[2016-01-15 19:00] #10 closed

[2016-01-15 19:05] hebertialmeida commented on #26
I think that would be more useful to have a skip interval like in podcast app, or even iBooks app. Instead of next and previous.

![fullsizerender](https://cloud.githubusercontent.com/assets/103670/12362354/ef38ad6a-bba9-11e5-992c-9bf1f9419b6c.jpg)

[2016-01-16 10:07] mythodeia opened #39 "unexpectedly found nil while unwrapping an Optional value"
Great lib. thanks for sharing. :+1:
i get a crash when i do this:
open the app and tap the top book. The swipe right to expose the close button and tap it.
Tap to reopen the same book. Crash occurs. Check screen below

![screen](https://cloud.githubusercontent.com/assets/1748458/12371799/b4745cde-bc48-11e5-8119-ff5d7ac48510.png)

on an iPhone 6S Plus device when i do the above scenario it works fi

[2016-01-18 11:58] hebertialmeida commented on #39
Hey @mythodeia, this is not really a bug, on the reader but it is a lack of options there is an issue #20 related to this.

On simulator the problem is that by default Folio Reader removes the original ePub file after the unzip process and when you are trying to open on second time the file doesn't exists. On device there is a error on removing this because on sample example the ePub file is on Ap

[2016-01-18 12:20] lakshayasachdeva1990 commented on #39
Hebert need ur help on this, pls reply at lkshsachdeva@gmail.com

[2016-01-18 12:26] mythodeia commented on #39
@hebertialmeida :+1: thanks for your response.

[2016-01-18 12:26] #39 closed

[2016-01-19 18:10] hebertialmeida opened #41 "Replace UIMenuItem-CXAImageSupport for MenuItemKit"
The current on has some warnings and bugs on Swift.
This is the new one in Swift: https://github.com/cxa/MenuItemKit

[2016-01-19 19:41] hebertialmeida commented on #34
@kjantzer What do you think?

![audio controls](https://cloud.githubusercontent.com/assets/103670/12429894/dd407ade-bed3-11e5-84e2-e3ce5cc82387.png)

[2016-01-19 19:56] kjantzer commented on #34
I Like it, except I can't tell which one is selected. And the far right doesn't even look like a style.

What if we left all three colored (like they would appear in the chapter) and add a "checkmark" to the left side of the "selected" style?

[2016-01-19 20:04] hebertialmeida commented on #34
I tried all with color but it's too aggressive. We are not using a checkmark on any menu but we can try and see.

This are the interactions to see what is selected:
![screen shot 2016-01-19 at 18 00 52](https://cloud.githubusercontent.com/assets/103670/12430421/ac1a119c-bed6-11e5-915b-7d3701d933c3.png)

[2016-01-19 20:06] kjantzer commented on #34
That's might not be bad, once a user clicks around, the style should make sense. Maybe lets try it like that for now and we can see if we get feedback on it.

[2016-01-19 20:07] hebertialmeida commented on #34
For sure!

Will you implement this?

[2016-01-19 20:08] kjantzer commented on #34
:+1:

[2016-01-21 00:47] hebertialmeida opened #43 "Book Search"
Ability to search inside the book.

[2016-01-21 07:09] uugo opened #44 "The bug of delete and copy a epubfile"
If I open a epub file which has 3 pages by FolioReader, and delete it.And now ,I open a epub which has 4 pages and same name . The bug will happen.This question's positon is in tableView(...cellForRowAtIndexPath...) of  FolioReaderSiderPanel.swift.

The bug line is
 if let resource = book.spine.spineReferences[currentPageNumber-1].resource {

I guess the sqlite record the pagenumber of the epub,an

[2016-01-21 14:29] hebertialmeida opened #45 "Show loading state while loading book"
Sometimes after clicking the book button, it shows pure white screen for seconds until the book content comes up. Guess it needs time to process the content. It may be better to give a "loading..." during this gap.

[2016-01-21 16:07] kjantzer commented on #44
@uugo Interesting.

@hebertialmeida we should probably put a check to make sure the reference exists and if it does not, show the TOC view (like when a book is loaded for the first time)  I'm not sure the likelihood of this happening in a production environment, but should be a fairly simple patch.

[2016-01-21 17:13] hebertialmeida commented on #44
@uugo Thanks for reporting! I have fixed that, please test it.

@kjantzer I have added a extension from here: http://stackoverflow.com/a/30593673/517707 to check if the item exists on array, It's safer :+1:

[2016-01-21 17:19] #44 closed

[2016-01-21 23:43] #45 closed

[2016-01-22 03:33] uugo commented on #44
@hebertialmeida:It's OK.

[2016-01-25 18:19] bkobilansky opened #46 "Adding tests"
Nice work! What are your thoughts on adding a test target?

I see some code that could be simplified, but would like to confirm changes aren't breaking existing behavior.

[2016-01-25 19:21] hebertialmeida commented on #46
Thanks, I think that is good to have tests, you can add it!

So, all the contributors will be benefited :+1:

[2016-01-26 04:34] bkobilansky commented on #46
Setup and simple test in #47

[2016-01-26 11:27] hebertialmeida commented on #46
@bkobilansky Merged, I'm looking at Quick and Nimble. If you could write some test cases would be good!

[2016-01-26 19:00] hebertialmeida commented on #46
@bkobilansky Do you know why is not showing on Test Navigator?
![screen shot 2016-01-26 at 16 58 09](https://cloud.githubusercontent.com/assets/103670/12591268/157d3e4e-c44e-11e5-887b-ff10a4e7c6ce.png)

[2016-01-26 21:11] bkobilansky commented on #46
Is information related to that test being printed when you run them?

As I understand it, it's because Quick adds test cases dynamically, which Xcode doesn't support very well yet.

I believe Quick has some fixes upcoming for this, this thread discusses it fairly well:
https://github.com/Quick/Quick/issues/439

[2016-01-26 21:49] hebertialmeida commented on #46
Yes, there is a lot of errors related to this. Do you think that even with this errors is better to use Quick instead of XCTest?

[2016-01-26 23:17] kjantzer commented on #34
![34 mov](https://cloud.githubusercontent.com/assets/467487/12598546/c3b4a33a-c43f-11e5-80fa-7a2d43054612.gif)

[2016-01-26 23:17] #34 closed

[2016-01-26 23:24] hebertialmeida commented on #34
Tested it, really cool!

[2016-01-27 00:58] bkobilansky commented on #46
Yes I do, personally. I prefer the syntax and consider Quick very reliable. I believe other third-party testing frameworks have issues with Xcode's test navigator as well, and I don't consider it a big deal.

Having said that, XCTest can probably handle all of our testing needs. If we feel strongly about using XCTest I wouldn't be opposed to it. The few tests we have so far would be easy to conver

[2016-01-27 01:31] hebertialmeida commented on #37
This need priority...

[2016-01-27 01:36] hebertialmeida commented on #46
To be honest with you I am not an XCTest expert, if you are saying that I believe that it's be best approach.

I am learning the Quick documentation.

[2016-01-28 00:22] hebertialmeida commented on #16
I will design this.

[2016-01-28 12:58] hebertialmeida commented on #16
**Concept:** All notes are linked to a highlight, there is no possible to create a note without a highlight, basically if you add a new note it adds a highlight too, or if you have a existing highlight you can add a note to it. This is the same iBooks approach.

**Design:** Simple but I believe that it functional.

### The menu and the _Note_ mark.
![highlght notes](https://cloud.githubusercontent

[2016-01-28 16:11] kjantzer commented on #16
@hebertialmeida - This looks great!

It's exactly what I was thinking. A while back I looked at how iBooks did notes and came to the same conclusion you did: notes are just a highlight with a user generated note attached. It will make it easier to implement.

The only concern I have is how we'll handle the notes icon next to the highlight when a user adds a note multiple times on the same line :wo

[2016-01-28 17:46] hebertialmeida commented on #16
I think You Version App uses `:before` take a look:
![img_4729](https://cloud.githubusercontent.com/assets/103670/12653326/3127f4fc-c5d6-11e5-94b4-652c174657bf.PNG)

Maybe we can do something like this, attached to the highlight.

[2016-01-28 17:47] kjantzer commented on #16
Yeah, that might be the easier implementation, at least for the first release.

[2016-01-28 17:50] hebertialmeida commented on #16
We can try It and see if works.

On design point of view I prefer on left, but you are right about multiple highlights on same line will be hard to handle.

[2016-01-28 17:51] kjantzer commented on #16
I agree, note icon on the left would be preferred. We'll see what is easier to develop

[2016-02-03 22:45] CHPraxis opened #50 "Sometimes the scroll bar gets stuck"
Hello!  First, I want to say, this is a wonderful framework, and thank you very much for providing it.

I am encountering an odd bug with a document with multiple sections, each of which is maybe 7-8 paragraphs.   As I swipe through the sections, sometimes switching between flicking my finger or using the bar in the side, and then swipe down hard to the next section, sometimes the scroll bar will

[2016-02-03 22:51] kjantzer commented on #50
Thanks @CHPraxis
I've noticed this happening occasionally as well. I wrote that slider, but haven't had the time yet to fix that bug yet. If you figure out how to reproduce consistently, please let me know!

[2016-02-03 22:51] CHPraxis opened #51 "Request: Improved Objective-C compatibility"
Hello!  I've been working long term on a single project that is 99% Objective-C, so I haven't taken the time to learn Swift yet.  (I was kind of planning to hold off for Swift 3.0, but it's starting to become so prevalent that I probably should get around to it.)  Because of that, I can't exactly try to fix your code and submit a pull request for this.

When using FolioReaderKit in an Objective-C

[2016-02-03 22:54] kjantzer commented on #51
@CHPraxis

If you set `shouldHideNavigationOnTap` to `false`, the menu/nav bar will always be visible.

[2016-02-03 23:23] CHPraxis commented on #51
Hm, I can't seem to access shouldHideNavigationOnTap from my Objective-C classes.  Wonder if there's an issue with Boolean type getters and setters in Swift vs Objective-C, maybe?  Since I can change to the non-Boolean vars.

[2016-02-03 23:34] kjantzer commented on #51
URL schemes have to be setup in the plist to work. I think that's something best done outside of the framework in your own logic.

I'm not sure about the `shouldHideNavigationOnTap` not being accessible. I'd have to look at the code more. Just switch to swift ;)

[2016-02-03 23:53] CHPraxis commented on #51
Definitely am going to start using Swift going forward once I finish learning it, but in the meantime, it'll take forever to bring my existing Objective-C app to 100% Swift :/

I have URL schemes set up- they work fine from Safari- but when I make an ePub link containing a custom URL scheme and touch them within FolioReader, I get no action.

[2016-02-03 23:59] kjantzer opened #52 "ePubs deep linking to iOS apps should function"
App URL schemes should be supported.

`UIApplication.sharedApplication().canOpenURL(appURL)`

We need to update the following:
https://github.com/FolioReader/FolioReaderKit/blob/master/Source/FolioReaderPage.swift#L121-L203

[2016-02-04 00:01] kjantzer commented on #51
Ah, ok. I understand what you are talking about with URL schemes now.

I've created #52

[2016-03-01 07:55] hunght opened #53 "Text to Speech support"
i want to make this feature, but i'm new in swift and don't know how to detect, highlight a sentence on webview, could someone tell me how to do it. thanks for great work

[2016-03-01 15:57] kjantzer commented on #53
"Text to speak" - are you thinking of using the phones default "computer voice"?

@hunght I would suggest looking at part of the framework that already does text selection for highlighting

[2016-03-03 11:00] ProudOfZiggy opened #54 "PDF support"
?

[2016-03-03 11:41] hebertialmeida commented on #54
FolioReader is a ePub parser, so only ePubs are supported.

[2016-03-03 12:36] ProudOfZiggy commented on #54
Will be a PDF support in the future? Or maybe I could fork your project and add this functional?

[2016-03-03 13:19] hebertialmeida commented on #54
@ProudOfZiggy Interesting. What do you think @kjantzer

[2016-03-04 04:08] kjantzer commented on #54
Yeah, interesting idea. I'm not sure how the functionality would transfer over; like chapters, highlighting, takes notes. Might be a good start to see how iBooks on iOS handles it?

Seeing a fork from @ProudOfZiggy with this feature would be a start.

[2016-03-04 11:57] hebertialmeida commented on #54
@ProudOfZiggy If you could for and implement this I will assign it to you.

[2016-03-04 12:07] hebertialmeida commented on #53
@hunght If you can implement this I will assign it to you.

There is a text highlighting feature for audio player, also the audio player is already working for Media Overlays, it should probably be simple to reuse. If you have problem maybe @kjantzer can help you, because he implemented this feature.

I think TTS will only make sense if there is no Media Overlays, so take a look on this implementa

[2016-03-04 12:23] ProudOfZiggy commented on #54
I will try, but later, I have a lot of work right now

[2016-03-05 02:11] hunght commented on #53
@hebertialmeida thanks you, i 'm finishing this feature, pls assign this to me

[2016-03-07 15:06] sibeliusseraphini commented on #54
@ProudOfZiggy this could help you - https://developer.apple.com/library/ios/samplecode/ZoomingPDFViewer/Introduction/Intro.html

[2016-03-07 15:37] hebertialmeida commented on #53
@hunght You can branch from master, then make a PR to master, I can review an test before merge.

[2016-03-08 12:42] BowlingX commented on #37
I just saw this project and I actually build something to just render text selections, maybe it's something you could use: http://bowlingx.github.io/marklib/

[2016-03-08 14:37] kjantzer commented on #37
Thanks for the idea @BowlingX. Currently I'm looking at using [rangy](https://github.com/timdown/rangy/wiki/Highlighter-Module), but I'll have to take a look at that too.

[2016-03-08 16:36] BowlingX commented on #37
you're welcome, if you have any questions let me know.

[2016-03-10 12:32] mdilaveroglu opened #55 "tvOS support?"
Hi, I tried this library with tvOS but it I got a not compatible error. Are there going to be any updates about this in the future?

[2016-03-10 12:44] hebertialmeida commented on #55
Hi @mdilaveroglu I have never tested this on tvOS, but it would be amazing if you could help adding support this on tv.

[2016-03-11 09:50] mdilaveroglu commented on #55
After a little bit of searching, I found that tvOS does not have webview. This library is based on webviews so I have no idea how to implement this for tvOS.

[2016-03-11 12:27] hebertialmeida commented on #55
Yes, this totally based on WebView, I don't think it will be possible.

[2016-03-11 12:27] #55 closed

[2016-03-14 06:53] fahimk opened #56 "Carthage support"

[2016-03-14 16:49] kjantzer commented on #56
FolioReader is managed with CocoaPods. Is there really a need to support [Carthage](https://github.com/Carthage/Carthage) too?

[2016-03-19 07:37] anonymousRacer commented on #50
I also had this issue. The reader works great when reading english epubs, but when it comes to different languages like hindi, it gets stuck for almost 30 seconds. Also, the book cover in reader gets elongated for some reason. Would it be possible to show an activity indicator while parsing is in progress??

[2016-03-19 07:49] prashantShrivastava91 opened #57 "UI Lag when book is being parsed"
The reader works great when parsing english epubs, but when it comes to different languages like hindi and tamil, UI gets stuck while parsing. There is an initial UI lag when reader is being instantiated. But even after the content is loaded and I scroll fast to bottom,  UI gets stuck for a while. Also, if I scroll to top, the book cover gets elongated for some reason. Is there a way to show an ac

[2016-03-21 13:34] hebertialmeida commented on #57
I have tested it, I will take a look..

[2016-03-31 23:20] syrakozz commented on #35
+1

[2016-03-31 23:20] syrakozz opened #59 "arabic character"
can you plz add arabic character support

[2016-04-01 12:45] hebertialmeida commented on #59
@syrakozz Hey what do you mean arabic character support?

I have no experience with arabic, is it possible to make a PR or help me understand what do you need?

[2016-04-08 08:09] alexeyismirnov opened #61 "Sample app does not work"
Environment: Xcode 7.3 (7D175), simulator iPhone 4s / iOS 9.3 (13E230).

The app compiles, starts, and shows two book covers. However, when I click one of the books, it crashes. See the attached image.

![screen shot 2016-04-08 at 4 08 55 pm](https://cloud.githubusercontent.com/assets/4033296/14377799/4d57366e-fda4-11e5-8921-0e8e42759e00.png)

[2016-04-08 11:34] mythodeia commented on #61
does it crash on device too?

[2016-04-08 11:44] hebertialmeida commented on #61
I will take a look

[2016-04-08 12:31] hebertialmeida commented on #61
@mythodeia and @alexeyismirnov I have pushed a new version, please test it and let me know.

[2016-04-08 13:38] mythodeia commented on #61
same error on simulator...
[code]
works fine on device: iPhone 6S Plus IOS 9.3.1

[2016-04-08 13:40] hebertialmeida commented on #61
@mythodeia Have you removed the App and cleaned the project?

[2016-04-08 13:40] mythodeia commented on #61
i never had it installed in the first place but let me try it again...hold on

[2016-04-08 13:46] mythodeia commented on #61
nope..crashes when the loading indicator appears on screen with the error mentioned above.

[2016-04-08 14:29] hebertialmeida commented on #61
Fixing that, found the problem.

[2016-04-08 15:09] hebertialmeida commented on #20
Done.

Use `shouldRemoveEpub: false` in init.

[2016-04-08 15:09] #20 closed

[2016-04-08 15:10] hebertialmeida commented on #61
Fixed. I will release it

[2016-04-08 15:10] #61 closed

[2016-04-12 19:04] neowinston opened #62 "Font size doesn't change for some ePubs"
The font size doesn't change for this ePub, and some others:

http://www.desiringgod.org/books/the-pilgrim-s-progress.epub

Any idea why?

[2016-04-14 12:18] hebertialmeida commented on #62
Fixed

[2016-04-14 12:18] #62 closed

[2016-04-14 14:10] mythodeia commented on #54
pdf support would indeed be a great feature :+1:

[2016-04-17 05:29] remisb commented on #54
PDF format is too complicated and rarely easy to achieve text reflow without complicated calculations. Are you sure you will be able to handle those problems? Are you ready to mess with that? My suggestions would be to take a closer look at pdf format and how text is positioned in it.

I'm very skeptical about possibility to have it done properly.

[2016-04-19 12:17] #53 closed

[2016-04-19 12:18] #46 closed

[2016-04-19 12:19] hebertialmeida commented on #22
@kjantzer Any updates on this?

[2016-04-19 18:11] kjantzer commented on #22
@hebertialmeida - No, had move on to some other projects.

[2016-04-22 20:12] ProudOfZiggy opened #63 "Crash in readTOCReference"
FREpubParser.swift at 226 row

let toc = FRTocReference(title: label, resource: resource!, fragmentID: fragmentID)

It crashes because **resource** variable is nil after:
let href = hrefSplit[0]
let resource = book.resources.getByHref(href)

**href** variable is "Text/part4.xhtml"

It seem method **getByHref:** return nil while trying to find appropriate resource in dictionary (return resources[hr

[2016-04-25 12:26] hebertialmeida commented on #63
I have downloaded it, and I will test.

[2016-04-25 13:47] hebertialmeida commented on #63
@ProudOfZiggy Actually it is not working perfect on iBooks, the book is parsed but do you can not navigate using the table of contents. Sometimes iBooks throw an alert and closes the book:
![img_6511](https://cloud.githubusercontent.com/assets/103670/14785415/076d0b62-0ad1-11e6-84b9-9b72689182c4.PNG)

What I did is to deal with optional resource, so the book will open normally, same as iBooks do,

[2016-04-25 13:51] #63 closed

[2016-04-25 14:19] hebertialmeida commented on #63
Just pushed a new update with fixes.

[2016-04-25 15:57] ProudOfZiggy commented on #63
Well, I was trying this book in iBooks on Mac. It woking great.

I made my own fix for your reader. I succesufull opened a book I gave you. Then I compared this book in iBooks (Mac) and in Folio reader, no pages/chapters was lost bacause of my fix. My fix is just skipping nil resources, I think iBooks on Mac works the same way.

[2016-04-25 16:01] hebertialmeida commented on #63
I have tested on iBooks Mac, same it open but the Table of Content do not redirect to the right page.

[2016-04-29 11:47] afornes opened #64 "Nil while unwrapping an Optional value"
I installed FolioReaderKit using pods on my project but I still didn't used it. Only installation. After that, my app ran perfectly. Now, I've embedded my main controller into a navigation controller and now my app crashed when executed. This is the error I'm getting:

fatal error: unexpectedly found nil while unwrapping an Optional value
![captura de pantalla 2016-04-29 a las 13 42 11](https://cl

[2016-05-02 20:30] hebertialmeida commented on #64
I have just released a fix for this, please update it and let me know.

[2016-05-02 20:30] #64 closed

[2016-05-02 21:05] afornes commented on #64
I've updated the pod and I'm still having the same problem.
I patched it by changing this:
`get { return FolioReader.defaults.valueForKey(kNightMode) as! Bool }`
for this:
`get { return FolioReader.defaults.boolForKey(kNightMode) }`

[2016-05-02 21:09] hebertialmeida commented on #64
Can you make a Pull Request with this?

[2016-05-02 21:12] afornes commented on #64
Sure!

[2016-05-02 21:26] afornes commented on #64
I'm trying to make the Pull Request but I'm getting this error:
`You may not have permission to access FolioReaderKit. Check Preferences to make sure you’re still logged in.`

[2016-05-03 10:29] JackLauu opened #66 "paging view feature"
Because the UIWebView inherent restraint, it can't swipe horizontal, hyphenation and text justify is also not good, can u also consider supporting these features by paging view?

[2016-05-06 12:30] hebertialmeida commented on #66
Could you give me more details of what you need? is it related to issue #22?

[2016-05-06 13:13] turbokuzmich opened #69 "Multiline menu titles"
Current implementation of side panel does not allow to make multiline titles. I can fix that and make PR.

[2016-05-08 08:03] AhmedOsamaOsman commented on #43
if you can help me with some tips about how to make it using your code style some guides steps.

[2016-05-09 14:09] hebertialmeida commented on #69
Please make it.

[2016-05-15 12:15] salahy opened #70 "How to run the Example"
Hello, I am new to XCode and swift I need to know how to run the example
I ran the pod install but after that I get this error
No Such module FolioReaderKit

Thank you

[2016-05-18 02:26] itleo31 commented on #66
@hebertialmeida I though I understand what @JackLauu  meaning. Like him, I would love if you can support swipe from right to left, and new page come. It looks like iBook app.

[2016-05-26 02:02] tarigancana commented on #70
@salahy after finish `pod install` make sure that you open the `Example.xcworkspace`

[2016-05-30 21:54] #70 closed

[2016-05-30 21:55] hebertialmeida commented on #69
@turbokuzmich Have you implemented this?

[2016-05-30 22:10] alexpopov commented on #56
I actually need Carthage support too :( My project breaks when I `use_frameworks!` in Cocoapods, so all my Swift dependencies are in Carthage.

[2016-05-31 17:42] alexpopov opened #71 "Make UI Classes Public and add method of presenting custom Subclasses"
I absolutely love the project, but I needed to make some fairly trivial changes to the UI but there is no way to do that out of the box. I had to fork the project, make a couple of the ViewControllers public and override a method just to add a bar button to the Navigation Bar.

My proposal: making the main UI classes public so that they can be overridden, and add a method on `FolioReader` to prese

[2016-05-31 17:50] hebertialmeida commented on #71
Hey @alexpopov I definitely want your help on this, I would love to make it more flexible and customisable.

[2016-05-31 18:59] alexpopov commented on #71
I don't want to change the architecture too much, but my basic implementation proposal is to refactor some of the more monolithic `viewDidLoad` methods, and compose them of `setup*` and `create*` methods. `create*` methods handle our internal state (and should probably stay `internal`), `setup*` methods return what was previously instantiated inline.
Here is an example from my rough mini-fork for

[2016-05-31 19:06] hebertialmeida commented on #71
I liked that, go ahead. You can simple make a pull request

[2016-05-31 19:07] alexpopov commented on #71
Will do over the next couple days after work 😊

[2016-05-31 19:09] hebertialmeida commented on #71
I am really glad that it helped you 😊 and thanks for contributing.

[2016-06-01 21:14] alexpopov opened #72 "Crash on `resetScrollDelta` after dismissing reader"
A second or so after I dismissed the player I got this crash:
[code]
I'm not entirely sure how it's possible, but this does look like a nil access. The main thread may have been pre-empted, and perhaps `scrollDeltaTimer` was nil-ed out right after the check to whether it's nil or not. Adding explicit unwrapping might be a good idea ¯\_(ツ)_/¯

It's only happened once, out of dozens of times showing

[2016-06-01 21:16] kjantzer commented on #72
That's strange...it tests for `scrollDeltaTimer != nil` first...

[2016-06-01 21:26] hebertialmeida commented on #72
Strange 2...

[2016-06-02 00:36] alexpopov opened #73 "Table of Contents Uncaught Exception"
In some EPUBs tapping the Table of Contents in the book itself throws a WebView exception:
`WebKit discarded an uncaught exception in the webView:decidePolicyForNavigationAction:request:frame:decisionListener: delegate: <NSInvalidArgumentException> attempt to scroll to invalid index path: <NSIndexPath: 0xc000000000e00016> {length = 2, path = 0 - 7}`
After which the app is permanently in a UI funk

[2016-06-02 13:27] hebertialmeida commented on #73
I have checked and this is not a reader problem, the main problem is the ePub standards.

Like this crazy file names -> `@public@vhost@g@gutenberg@html@files@62@62-h@62-h-0.htm.html`

About the UI it was really crazy bug 😄. What is causing this is that the can not find the right file to point and there is a UIView animation with competition block, so the index path do not exists and the animation

[2016-06-02 13:27] hebertialmeida commented on #72
@kjantzer Can you check that? I have initially worked on this 😄

[2016-06-02 14:36] syrakozz commented on #59
i mean i cant open a book with arabic character

[2016-06-02 14:45] kjantzer commented on #72
When I start working on this project again, sure.

[2016-06-02 14:46] hebertialmeida commented on #59
Can you send me this, so I can test it. Because I have opened other books with arabic character

[2016-06-02 16:42] alexpopov commented on #73
Great, that fixed it!

Thanks a bunch 😊

[2016-06-02 16:43] #73 closed

[2016-06-02 17:04] alexpopov commented on #56
I might just do this myself; I had to hand-build a fat binary from the Example project, and not having Carthage support sort of precludes my ability to effectively contribute.

[2016-06-07 13:32] hebertialmeida commented on #56
The implementation is finished by @alexpopov on PR #74, I will release it soon.

[2016-06-07 13:32] #56 closed

[2016-06-08 06:37] alexpopov opened #75 "Make all required NSCoder initializers `fatalError()`"
Although this means users cannot use FolioReader classes in Interface Builder, it will allow us to change many instance properties that are Implicitly Unwrapped to be safe with no actual cost. FolioReader will most likely crash if it's initialized from NSCoder anyway, so what's the point of pandering to the compiler?

Anytime I see an exclamation mark I shiver a little bit.

[2016-06-08 10:45] hebertialmeida commented on #75
I think that it is valid, there is not priority to Interface Builder.

[2016-06-10 01:28] syrakozz commented on #59
its works tx

[2016-06-10 01:28] #59 closed

[2016-06-10 01:29] syrakozz opened #77 "bookmark"
can you plz add a bookmark feature

[2016-06-10 08:27] mobileexpert1 commented on #77
Yes please add bookmark feature and also note feature

[2016-06-10 14:36] kjantzer commented on #77
Duplicate of #35

[2016-06-10 16:36] mobileexpert1 commented on #37
I think the issue is these lines
[code]
Sometimes for second or more iteration in "highlights for loop" . The item.contentPre or item.contentPost is not found because it is already been replaced by" <highlight id=\"\(item.highlightId)\" onclick=\"callHighlightURL(this);\" class=\"\(style)\">\(item.content)</highlight>"" in the previous iteration if the previous text was highlighted too. Then it is

[2016-06-15 03:04] ganjmeng opened #78 "TXT Support"
txt support?

[2016-06-16 23:32] hebertialmeida commented on #78
Currently we do not support txt files, because it rely on html files and css.

 What kind of txt files you need exactly? Some kind of markdown?

[2016-06-20 17:03] danfsd opened #79 "Carthage CXAImageSupport timeout"
While trying to run `carthage update` I'm getting the following message:
`xcodebuild timed out while trying to read Demo.xcodeproj 😭`

This may be related to #41.

It seems to be related to [UIMenuItem-CXAImageSupport](https://github.com/cxa/UIMenuItem-CXAImageSupport). Looking in to the **Carthage** issues, I realized that they have, in the recent past, fixed a timeout bug as described on [https:

[2016-06-20 17:39] alexpopov commented on #79
I ran into this issue occasionally as well; no clue what's causing it. We expect to switch to the Swift version of UIMenuItem soon 😊

[2016-06-20 17:41] hebertialmeida commented on #79
Probably switching to the new version of UIMenuItem can fix that.

[2016-06-22 17:45] hebertialmeida commented on #43
@danfsd Have found another repo that is a fork from this project and it is implementing the search.

https://github.com/taku33/FolioReaderPlus

He is doing a interesting work, maybe the problem is that he is locking the main thread, which is easy to solve. We can use it as the path to solve this.

[2016-06-22 17:46] hebertialmeida commented on #35
Seems that this guy have implemented this. https://github.com/taku33/FolioReaderPlus

[2016-06-23 08:21] taku33 opened #80 "PDF Support"
this is my contributed repo.
https://github.com/taku33/FolioReaderPlus

there was a new issue about PDF
https://github.com/taku33/FolioReaderPlus/issues/1
so, someone make PDF function? I may make in someday.

[2016-06-23 12:30] hebertialmeida commented on #80
Hey @taku33 I have seen some progress in your code, don't you want to make a Pull Request of some features like #35 and #43

Also this is a duplicated of #54

[2016-06-23 13:31] danfsd commented on #79
I managed to build the project by **forking** the (UIMenuItem-CXAImageSupport)[https://github.com/cxa/UIMenuItem-CXAImageSupport] and removing the `Demo.xcodeproj` from it.

If anyone has difficulties while trying to build the project, please try replacing on the `Cartfile` the line
`github "cxa/UIMenuItem-CXAImageSupport"`
`github "danfsd/UIMenuItem-CXAImageSupport"`

[2016-06-23 13:33] hebertialmeida commented on #79
We have to migrate to https://github.com/cxa/MenuItemKit

[2016-06-23 17:03] #79 closed

[2016-06-24 14:58] danfsd commented on #71
Hey @alexpopov I've been going through your refactor code and I found it awesome. I just feel like there's yet little space for customizing the `FolioReaderContainer` (e.g: a container which doesn't have side panels or any other additional UI).

I think that this could be resolved by placing all this important code in a **base class** such as `FolioReaderBaseContainer`, and then placing all this a

[2016-06-24 16:58] alexpopov commented on #71
I only just started refactoring; there is still a very long ways to go! (I haven't had much time to work on it lately)

I haven't looked through all the Ebook loading logic, but I feel like it should be factored out of the container (near) entirely so that it's divorced from the UI. Then `FolioReaderBaseContainer` could be a protocol, with one concrete implementation as currently provided by `Foli

[2016-06-24 19:29] amosavian commented on #55
How about switching to WKWebView counterpart?

[2016-06-24 19:29] amosavian commented on #55
@hebertialmeida How about switching to WKWebView counterpart? @mdilaveroglu

[2016-06-27 12:54] hebertialmeida commented on #55
@amosavian In the beginning of the project I tried WKWebView, but I remember I had some problems and I decided to use UIWebView.

You can try de conversion, if you do make a Pull Request :)

[2016-06-28 02:42] alexliubj opened #81 "How can I install another library in this Kit?"
I want to add something like a third part library into FolioReaderCenter .swift.
I'm using pods, but I don't know what should I do.
I tried to add that library into pod file and do pod update. I can see the library is installed.
When I am trying to import it from FolioReaderCenter it says can't find the module.

by the way the library is not open source and it is a framework with a few .framework

[2016-06-28 23:14] hebertialmeida commented on #81
It is really hard to discover the exactly problem, because framework embedding in Swift sometime kill you.

You can try on stackoverflow http://stackoverflow.com/questions/33796065/embedding-frameworks-inside-closed-source-swift-framework

[2016-06-28 23:14] #81 closed

[2016-07-06 04:19] #25 closed

[2016-07-06 04:22] hebertialmeida commented on #66
This is duplicated of #22

[2016-07-06 04:22] #66 closed

[2016-07-06 04:36] danfsd commented on #22
Since [Safari 7.0](https://developer.apple.com/library/prerelease/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_7_0.html) and the UIWebview are able to paginate content into **columns** without the use of any custom javascript or CSS . I made horizontal scrolling work, but still need to integrate with other components of the framework (such as the Sidepanel, etc).

[2016-07-06 04:43] hebertialmeida commented on #22
@danfsd Interesting because I will start working on this, where is your implementation, maybe I can create a branch for that so we can work together to finish that, I did Som implementation for side panel..

[2016-07-06 13:59] danfsd commented on #22
@hebertialmeida it's on my forked version, on the branch `horizontal-scroll`.

[Horizontal Scroll branch](https://github.com/danfsd/FolioReaderKit/tree/horizontal-scroll)

It still needs some work to be done:
- When swiping back between `FolioReaderPage`, we need to change the horizontal offset of the scrollview to the last page.
- Strange behavior when running on landscape mode
- Fix `FolioReader

[2016-07-06 14:09] hebertialmeida commented on #22
Cool! I have created a branch, so you can make a PR and we can work together on this. https://github.com/FolioReader/FolioReaderKit/tree/horizontal-scroll

[2016-07-06 19:55] whisper-bye opened #83 "Crash on SSZipArchive"
Hi all:
I have saved my epub files in the iTunes Documents folder,
I want to get cover image by following code, but something strange happened.
what the way to solve this problem?
thx!

[code]

[code]

[2016-07-07 12:24] hebertialmeida commented on #22
TODO:
- [x] A config that allow init on specific orientation and enable or not orientation switch.
- [ ] If allowed user should be able to switch the orientation inside the reader, probably from Fonts menu.
- [ ] Redesign Table of Contents and icons on left menu.

Bugs:
- [ ] Fix device rotation to keep same page;
- [ ] When horizontal if playing audio it do not change page automatically.

[2016-07-11 00:34] hebertialmeida opened #87 "Fix TTS voice language to match book language"
Today it is using the system language to the voice, but if the book is not english it will try to read the book in english.

[2016-07-11 00:36] hebertialmeida commented on #87
This probably will fix that if the book has language defined on its metadata.
`utterance.voice = AVSpeechSynthesisVoice(language: book.metadata.language)`

[2016-07-11 03:45] hebertialmeida opened #88 "Unified Navigation Bar to improve UX"
Hey guys I want your opinion on this.

When I have first designed the Reader, the only scroll orientation was vertical, so, I designed a side menu. Now that we are changing that to have both, horizontal and vertical scrolling, this left menu don't make sense.

I have designed a new navigation bar that unifies all actions:
![screen shot 2016-07-11 at 12 48 09 am](https://cloud.githubusercontent.com

[2016-07-11 03:47] hebertialmeida commented on #22
Guys I want you opinion on issue #88

[2016-07-11 04:37] kjantzer commented on #88
I like this idea a lot. But what about consolidating the TOC and highlight/notes into one menu? iBooks in iOS does this. It would reduce some clutter and allow for a search icon when we implement that feature. 

On Sun, Jul 10, 2016 at 8:45 PM -0700, "Heberti Almeida" <notifications@github.com> wrote:

Hey guys I want your opinion on this.

When I have first designed the Reader, the only scroll or

[2016-07-11 05:12] alexpopov commented on #88
I would suggest an 'X' icon instead of "Back" since we present modally. Looks good.

[2016-07-11 08:02] empedocle commented on #88
I'd prefer a library icon over back or an X.

As far as the toolbar icons, perhaps highlights list, text to speech, and share can be combined into a pullover menu. With adding a search button, that seems about right to me and more might be a bit cluttered.

I haven't contributed anything yet but might someday plan to use part of FolioReader in a project and then would likely contribute back.

An e

[2016-07-11 08:06] empedocle commented on #21
I too would like UICollectionView, for horizontal scroll as well, as a way to easily and quickly change sections, as well as having the scroller show the whole book. I've tried doing it before without much luck but if I start a possibly planned project and use FolioReaderKit, I'll see what I can figure out.

[2016-07-11 14:34] hebertialmeida commented on #88
@kjantzer I have combined.
@alexpopov Yeah makes sense.
@empedocle First of all welcome! I think makes more sense to combine Highlights list and Table of Contents as iBooks does.

So guys I have changed it a little bit:
![screen shot 2016-07-11 at 11 32 38 am](https://cloud.githubusercontent.com/assets/103670/16734259/4028f88c-475b-11e6-97d8-bf0abea74797.png)

[2016-07-11 14:50] kjantzer commented on #88
Looks good @hebertialmeida
Customizable icons is a good idea too.

[2016-07-11 14:54] kjantzer commented on #69
This will likely be fixed when #88 is implemented as the sidebar will be going away.

[2016-07-11 14:58] hebertialmeida commented on #21
@empedocle Would be nice if you could help us on this implementation 👍
If you want to work on this you can open a new issue I think.

[2016-07-11 15:09] empedocle commented on #21
I'm only a beginner Swift programmer but I'll try when I can. I had started something similar on OS X but haven't gotten too far with it yet. Will try when I get a chance.

[2016-07-11 15:28] hebertialmeida commented on #21
Interesting, I really want to port this to macOS.

[2016-07-11 18:49] empedocle commented on #21
Yes a macOS port would be great, perhaps with at the beginning, a simple library manager like iBooks. I used Realm since it was easier than learning CoreData, and my app so far just opens an external viewer like calibre. We have calibre for the desktop but a simple and elegant app to merely manage a library and view books for macOS, something similar to iBooks but with a bit more options for manag

[2016-07-11 18:54] hebertialmeida opened #89 "Port FolioReaderKit to macOS"
I would be awesome if we port this to macOS. What do you think? I have no experience with mac apps 😜

[2016-07-11 18:55] hebertialmeida commented on #21
I have created a issue for this #89

[2016-07-11 19:05] empedocle commented on #89
Would be awesome. I only have a bit of experience with macOS apps but was able to make an app to import ePubs, show in a table, search, rate, and open in an external viewer. I haven't done much with my app in a few months, but I'd be happy to send you a zip of the project if you want to take a look.

If we imagined features to add perhaps far into the future, OPDS download from macOS to iOS and an

[2016-07-11 19:10] hebertialmeida commented on #89
@empedocle Please send it to me hebertialmeida at gmail.com.

[2016-07-11 23:12] hebertialmeida opened #90 "Change scroll direction (horizontal or vertical) from fonts menu."
If allowed user should be able to switch the orientation inside the reader, probably from Fonts menu.

[2016-07-11 23:18] #22 closed

[2016-07-12 00:20] #78 closed

[2016-07-12 01:15] #87 closed

[2016-07-12 01:26] #26 closed

[2016-07-12 01:31] hebertialmeida commented on #37
@mobileexpert1 I will take a look on this. @kjantzer Started some implementation using Rangy, but I don't know how it is. Also we need to think on a way to migrate this existing highlights if we change.

[2016-07-12 13:15] tarigancana commented on #37
@hebertialmeida i will try to look on migration the existing highlights to rangy format.

[2016-07-12 13:20] hebertialmeida commented on #37
@tarigancana Thank you!

[2016-07-12 15:04] tarigancana opened #94 "Migrate coredata to Realm"
As Realm already release first stable version, i think it's better to use Realm instead of Core data

https://realm.io/news/migrating-from-core-data-to-realm/

[2016-07-12 15:08] hebertialmeida commented on #94
Also will be easier to deal with new db changes.

[2016-07-12 19:43] #94 closed

[2016-07-14 18:11] alexliubj commented on #90
Did you release this one yet?

[2016-07-14 18:11] kjantzer commented on #90
@alexliubj – no, still in a branch awaiting testing.

[2016-07-14 18:12] alexliubj opened #97 "A few issues so far I knew."
1. Long tap the content, click highlight, it might delete the content.
2. If long tap this page, or try to select the content at left of right besides the middle part, then it will flip to the previous or next page.

[2016-07-14 18:13] hebertialmeida commented on #90
@alexliubj The horizontal direction is on branch master, can be initialised with this option.
The ability to change that inside the reader on menu settings I still working.

[2016-07-14 18:15] kjantzer commented on #97
@alexliubj – is this with vertical or horizontal scrolling enabled?

[2016-07-14 18:18] alexliubj commented on #97
horizontal, new version.

see my attached file, the issue I mentioned above `1`. The content were not really deleted but just in a different paragraph.

![simulator screen shot jul 14 2016 2 16 57 pm](https://cloud.githubusercontent.com/assets/447106/16850591/de713602-49cd-11e6-99d9-1f2c9f0e31f2.png)

[2016-07-14 18:29] alexliubj commented on #90
OK, got it. Thanks,

[2016-07-14 18:30] alexliubj commented on #97
It happens when you long tap at the highlighted section and change the color.
After you change the color, if you try to highlight another piece of words then you will see my screenshot bug.

[2016-07-14 18:30] hebertialmeida commented on #97
@alexliubj What are the steps to simulate that, what is the book, page, chapter...

[2016-07-14 18:33] alexliubj commented on #97
Any book as you attached in your example application.

[2016-07-14 18:34] hebertialmeida commented on #97
Can you make a video with quicktime? Will be easier to understand and fix that.

[2016-07-14 18:39] alexliubj commented on #97
Please check your email address : hebertialmeida@gmail.com

[2016-07-14 18:44] hebertialmeida commented on #97
Thanks for reporting, this is a crazy bug it is the same #37.

@kjantzer and @tarigancana Started looking for a better solution on this, they are looking at Rangy.

[2016-07-15 10:43] hassan-rafique opened #98 "Unable to integrate using carthage"
I am trying to add FolioReader using carthage but when I run 'carthage update' I get the following error and it stops building framework for FolioReaderKit.

xcodebuild timed out while trying to read Demo.xcodeproj

[2016-07-15 13:17] hebertialmeida commented on #98
Hey @hassan-rafique

We are aware about it, unfortunately the Carthage implementation is not working because of some dependencies. We are trying to fix this with on this branch:
https://github.com/FolioReader/FolioReaderKit/tree/fix/menuitem-dependencies

The carthage problem is fixed here, but the problem is that we have replaced the UIMenuItem-CXAImageSupport by MenuItemKit and it is not working

[2016-07-15 17:37] alexpopov commented on #98
@hassan-rafique if we do end up doing the roll-back, I will try getting the old UIMenuItem library to compile with Carthage.

[2016-07-16 05:27] hassan-rafique commented on #98
Thanks for the update. I have used Cocoapods for now.

[2016-07-17 17:15] #69 closed

[2016-07-19 03:41] hebertialmeida commented on #88
Guys check out the PR #99

[2016-07-19 03:56] hebertialmeida commented on #72
I have tested and I could not simulate this.

[2016-07-19 03:56] #72 closed

[2016-07-20 02:47] #88 closed

[2016-07-23 22:09] viezel opened #100 "Support Epub Layouts"
Feature Request:

It would be very nice if FolioReader supports Fixed and Reflowable layouts:
The OPF file contains the metadata info: `rendition:layout` , `rendition:orientation` and `rendition:spread`

includes:
- Support pages consisting of one SVG/JPG/PNG (full page image)
- Support single/dual spread pages. (optional)
- Support orientation (optional)

Many ePubs are fixed layout, so it would

[2016-07-27 11:40] sam961 opened #101 "Arabic Table Content"
Hi,
While using an arabic book and then I clicked on table of content, everything is working well.
Bu when choosing a chapter, it doesnt take me the that chapter

[2016-07-28 07:03] sam961 opened #103 "Audio Book"
Hi, How to check if this book contains audio so that I navigate to another view controller

[2016-07-29 00:25] hebertialmeida commented on #101
Fixed that.

[2016-07-29 00:25] #101 closed

[2016-07-29 00:25] hebertialmeida commented on #103
Today is not possible, but we can make it possible.

[2016-07-29 00:33] hebertialmeida opened #104 "Page Progression Direction - RTL Support"
**Summary**
This attribute can be optionally be specified to control the global direction in which the Publication flows.

**Details**
Allowed values are `ltr` (left-to-right), `rtl` (right-to-left) and `default`.

When the `default` value is specified, the Author is expressing no preference and the Reading System may chose the rendering direction. This value must be assumed when the attribute is

[2016-08-03 02:52] #104 closed

[2016-08-04 23:52] alexliubj commented on #97
Forks,

Any thought about this one? Or some clue so I may can take a look at this? Where could be the location it happens.

Thanks,

[2016-08-09 00:22] hebertialmeida commented on #100
Hey @viezel can you include some book with this feature, it will help us on tests and implementation.

[2016-08-09 16:32] viezel commented on #100
Hi @hebertialmeida. Have a look here: http://apex.infogridpacific.com/dcp/flo-test-books.html there is a lot of great examples.
This is a great test case: http://files.infogridpacific.com/epub3/fixedlayoutgrowsup.epub

[2016-08-09 23:49] #17 closed

[2016-08-10 23:04] hebertialmeida commented on #50
This is fixed on last versions.

[2016-08-10 23:04] #50 closed

[2016-08-11 00:13] #52 closed

[2016-08-11 02:07] hebertialmeida opened #109 "Ability to share image quotes"
**Summary**
With this option users can share custom images from quotes.

**Details**
Needs to be a square image, with labels for the quote, book title and author.

Currently when select share from selection menu it will share only text, needs to add two options, "Share image quote" and "Share text quote".

**Notes**
Public api for customization, logo and background images.

**Proposed design**

![

[2016-08-11 12:36] hebertialmeida commented on #52
Released on #108

[2016-08-11 19:54] diyaasmc commented on #109
very nice

[2016-08-12 01:08] #75 closed

[2016-08-12 01:52] hebertialmeida opened #111 "Layout bug after change the orientation"
There is a bug on layout after change the orientation on fonts menu. if rotate the device the layout is do not adjust the size.

[2016-08-12 03:09] kjantzer opened #112 "Audio stops playing after clicking a toolbar icon"
I was playing audio and noticed when I clicked on any of the toolbar icons – TOC, settings, audio controls – the audio stops playing.

[2016-08-12 03:15] hebertialmeida commented on #112
I know what is this...

[2016-08-12 03:56] #112 closed

[2016-08-12 07:04] payalbaldota commented on #100
Hi @hebertialmeida.

First of all, Thank you for this awesome framework.
We are also interested in Fixed and Reflowable layouts support.
It would be very nice if you add Book Search feature too.

[2016-08-12 07:56] adammlevy opened #113 "Custom Text Overlay"
Is it possible to overlay a custom view over selected text such as a popover?

[2016-08-12 12:38] hebertialmeida commented on #113
Can you provide more details about this, maybe some image of what you want to achieve or how it would work.

Why a popover?

[2016-08-12 13:38] kjantzer commented on #100
@payalbaldota book search is on the todo list #43

[2016-08-12 14:03] ProudOfZiggy opened #115 "Crash at reader audio player"
First of all thank you for epub3.0 support.

I just opened this book and closer reader.
https://www.dropbox.com/s/4c71odxfs6yrcsg/multimedia-remix-2.epub?dl=0

It crashed at FolioReaderKit.swift (197):
FolioReader.sharedInstance.readerAudioPlayer.stop(immediate: true)

[2016-08-12 19:35] #111 closed

[2016-08-14 06:03] adammlevy commented on #113
![7252381360_7d937baa5a](https://cloud.githubusercontent.com/assets/599680/17647508/e881b65c-61a7-11e6-9fee-0e6a91848ab9.jpg)

I am including one example of a popover that is displayed when text is selected.

This would work by providing a delegate callback which included the word selected and a frame representing the location of the word.  The the delegate is called I would like to either overlay

[2016-08-16 00:36] hebertialmeida commented on #115
Hey @ProudOfZiggy please try again that on last master, I think it is already fixed because I am testing and working normal for me.

[2016-08-16 01:26] hebertialmeida commented on #115
I have pushed the last version to Cocoapods

[2016-08-16 05:40] tiana890 opened #117 "Is it possible to use ScrollScrubber on horizontal scrolling?"
Thank for your framework. I really like it. I am not sure that it is an issue but I can not understand is it possible to use ScrollScrubber element in horizontal scrolling mode? And if no I wonder are you going to add this feature soon?

[2016-08-16 11:48] viezel commented on #43
it would be nice with a full text search using sqlite. So once the epub is open the reader loops through the spines and extract text into sqlite for indexing.

ref: https://github.com/larsvoigt/epub-full-text-search

[2016-08-16 12:25] hebertialmeida commented on #117
Hey @tiana890, it is not an issue, we don't have implemented yet.

Two options, you can help us on this implementation, I think that it is not complicated.  I am working on another features right now, or you can wait, I will probably implement this some day.

[2016-08-16 12:33] hebertialmeida commented on #43
This ref is interesting, I think we can do the indexation natively. For DB we use Realm so if needed we can use it.

The book search is a feature that many people ask for, so if any of you can help on this like @viezel did researching and maybe implementing this feature.

It would be awesome if we have a indexed search, will be really fast.

[2016-08-16 13:11] ProudOfZiggy commented on #115
Updated pod 'FolioReaderKit', '~> 0.8'
But still crashing for me... I just open book I provided to you and close it

[2016-08-16 13:30] ProudOfZiggy commented on #115
Ok, I found it.
It crashing with: "fatal error: unexpectedly found nil while unwrapping an Optional value" on this line FolioReaderKit.swift (197):

FolioReader.sharedInstance.readerAudioPlayer.stop(immediate: true)

because readerAudioPlayer is nil.

http://joxi.ru/Dr8K4XpsE3qLA6

Why you made this one 'weak'?

[2016-08-16 13:41] viezel commented on #43
im not sure if Realm supports it: https://github.com/realm/realm-cocoa/issues/1488 That is one of the features where sqlite has native support for FTS.

[2016-08-16 13:50] hebertialmeida commented on #43
Well, there is a workaround for this in Java, probably we can do the same for Swift
here: https://gist.github.com/bangarharshit/c880c5427a0614a010e4
from: https://github.com/realm/realm-java/issues/1205

[2016-08-16 15:50] perlmunger opened #118 "Steps to Build Example From Clean Clone?"
The documentation says to use 'pod install', however doing this from the root directory produces this error:

Running it in the Example directory produces this:

What is the magical incantation to get the example app to build? Thanks.

-Matt

[2016-08-16 15:52] kjantzer commented on #118
You're correct to run it from the example directory, but I'm not sure how to fix the specification error.

Maybe related to: http://stackoverflow.com/questions/25913733/unable-to-find-a-specification-in-cocoapods

[2016-08-16 16:20] perlmunger commented on #118
@kjantzer So are you saying there is something wrong with my setup? I'm confused why building from a clean clone doesn't just work.

[2016-08-16 16:25] kjantzer commented on #118
@perlmunger – Maybe try this? http://stackoverflow.com/a/28919637/484780

[2016-08-17 01:42] hebertialmeida commented on #115
I just run the book you send and it works nice using 0.8.4, so I can't simulate that.
Yeah you are right this needs to be optional, needs some refactor, does it fix for you?
I am working another feature now, I but when I finish this I can take a look.

[2016-08-17 01:45] hebertialmeida commented on #115
I think I know what is that, do you set `enableTTS = false`?

[2016-08-17 02:00] #115 closed

[2016-08-17 02:01] hebertialmeida commented on #115
Fixed that, I will release it ASAP.

[2016-08-17 08:39] ProudOfZiggy commented on #115
Nope, never used enableTTS

[2016-08-17 08:39] PanajotisMaroungas opened #119 "Extend flexibility. Use folio reader kit with vc which frame's is smaller than the screen size."

[2016-08-17 12:27] hebertialmeida commented on #115
Have you tested 0.8.6?

[2016-08-17 12:51] ProudOfZiggy commented on #115
Yep, just tested. Not crashing anymore, thank you. I'll continue my tests. Will tell you if I found something else.

[2016-08-23 05:12] payalbaldota opened #123 "Play menu item for text is enable even if TTS is disabled"
Along with Highlight and Define, Play menu option is also available for user even if enableTTS flag is false. On click of play button sentence gets highlighted but no sound is played. So Play menu item should not be added if enableTTS is false

[2016-08-23 05:21] #123 closed

[2016-08-30 13:47] sam961 opened #124 "Scrolling Ends at the end"
While using arabic book, there are few problems:
If I select a new Chapter from the menu List it goes to the first page of the chapter which is correct,while swiping from left to right in the horizontal mode and when it reaches the end of the chapter "it doesnt  go to the next chapter", I think the problem is in CGAffineTransformMakeScale(-1, 1) in FolioReaderCenter.
 I used
   if #available(iOS 9

[2016-08-30 23:42] hebertialmeida commented on #124
I have never used this method, may be a good solution, because the transform thing is buggy...

Regarding the end of the next chapter there is a func on `FolioReaderPage.swift` > `func scrollPageToBottom()`, when the webView did finish load if check if needs to scroll to bottom, have you tested that?

[2016-09-01 01:41] #109 closed

[2016-09-02 08:55] payalbaldota opened #126 "Option to set font back to original from custom font is missing"
Hi,
You have provided good feature of custom fonts but there should be provision to use default book font specified in .opf file. There can be "Default" option along with the custom fonts that you are supporting in fonts segment.

Many ePub files comes with supported font files in its package

[2016-09-02 12:34] hebertialmeida commented on #126
The initial idea of FolioReader is to make the reading consistent and nice, that is why we override book fonts, so all books are equal.
If you consider a library with many books from different publishers,  each book has a different font type and font size.
But, I agree with you, now that many people are using it, I will consider this as a enhancement.

[2016-09-02 12:50] hebertialmeida commented on #119
I think we can close this as #121 is merged.

[2016-09-02 14:32] MuffinWithJam opened #127 "React Native Bridge"
What do you think about making the bridge to react native?

I tryed to make it using facebook's tutorials to make FolioReader as separate View (like `<FolioReader {parameters}></FolioReader>`, but it turned for me to be a bit more complex than i expected, due my zero skills at Swift :sweat_smile:

[2016-09-02 16:15] hebertialmeida commented on #127
There is here, but I have never tested to be honest https://github.com/FolioReader/react-native-folio-reader

[2016-09-02 20:28] j4zzcat opened #129 "Build on XCode 8"
How to build on XCode 8 (beta 6, in my case) for iOS 10 ?

[2016-09-02 20:34] hebertialmeida commented on #129
It is not converted yet, I have to migrate the project to swift 3 and XCode 8, I will probably do it during  this month.

[2016-09-03 12:36] sam961 opened #130 "Scroll to a specific page and specific page number"
Hello,
I make a highlight for a specific page and page number and saved it . How to scroll to to this specific page and page number without href since i had not selected any text as an ID for it . I need only to scroll to this page  and pagenumber

[2016-09-04 08:12] MuffinWithJam commented on #98
Any news about Carthage integration?

[2016-09-05 08:19] tschob opened #131 "Support Highlights which are stored outside of the FolioReaderKit"
Provide an interface which enables external code to handle the Highlight persistation.
The database from the FolioReaderKit can be the default option but its implementation should use the new interface as well.

[2016-09-05 13:32] MuffinWithJam commented on #127
@hebertialmeida, don't look like a React Native project, it's more like starter skeleton. Anyway, it's not working for me

[2016-09-05 15:17] tschob opened #132 "Perform a custom block if a link with specified class + parameter name is tapped."
We want to perform some logic if a specific custom link is tapped.

The link in the epub might look like this:
[code]
If this link is tapped we want to receive the json data from `data-json` in a closure so that we can perform some logic.

To archive this a new array will be added to the `FolioReaderConfig` containing multiple class + parameter combinations which should be monitored plus the corre

[2016-09-06 09:12] tschob opened #133 "Make settings from the font menu accessable to external code"
It should be possible to set the settings which are accessable in the fonts menu from external code. A modification of these should update the webview of the current page.

[2016-09-06 09:28] tschob commented on #16
Is there any progress on the note implementation? I plan to refactor the Highlights implementation. If there is unmerged code there might be conflicts when https://github.com/FolioReader/FolioReaderKit/issues/131 is implemented.

[2016-09-06 12:56] hebertialmeida commented on #131
Interesting, today is possible to manage the highlights of FolioReaderKit DB, because it is exposed, you can add, remove, list all...

What do you need is to provide a list of highlights on book initialisation from a external source?

[2016-09-06 13:11] hebertialmeida commented on #16
@tschob No, there is no progress yet, maybe @kjantzer have started working on something. The only thing I have is some designed screens on Sketch. We are stuck on this because we have to refactor the highlights, as it is problematic.

One problem of the current implementation is that you can't highlight text between paragraph tags. We have started a discussion on this on issue #37 and #97 reported

[2016-09-06 13:39] hebertialmeida commented on #130
I have recently merged a PR #128 from @tschob that exposes this methods. Take a look if it works for you, it on branch master.

[2016-09-06 13:44] hebertialmeida commented on #127
Sorry, I have never used this, some one needed and have created. Recently we added a port for NativeScript https://github.com/FolioReader/nativescript-epub

For React Native I will fix and implement it in future but for now I have to finish some implementations on Swift version. If you could help will be perfect.

[2016-09-06 13:46] hebertialmeida commented on #98
For now please use Cocoapods, is the best and simple way to integrate. We have problem with dependencies, they are not building on Carthage.

[2016-09-06 14:00] hebertialmeida commented on #133
Today all settings are stored in user defaults, we can simply expose the the static var for that:
https://github.com/FolioReader/FolioReaderKit/blob/master/Source/FolioReaderKit.swift#L108

[2016-09-06 14:02] hebertialmeida commented on #51
This is fixed.

[2016-09-06 14:02] #51 closed

[2016-09-06 15:16] kjantzer commented on #16
@tschob I have not made any significant progress on a highlight refactor so feel free to take a stab at it.

[2016-09-06 15:31] tschob commented on #133
Yes, this is my approach as well.

[2016-09-06 15:39] tschob commented on #131
We need to store the highlights in our own database. My idea is that a new class like `HighlightModel` or protocol like `Highlightable` is introduced which contains the needed properties.
The `FolioReaderKit` (or another useful place) will hold a delegate which will provide a list of highlights and which receives a new highlight. If this delegate isn't used in app the FolioReaderKit will receive a

[2016-09-06 15:41] tschob commented on #132
This issue is now in progress.

[2016-09-06 16:09] tschob opened #134 "Provide a way to block the user from leaving a specific `FolioReaderPage`"
This might be a rare use case: We want to be able to jump to a specific `FolioReaderPage` in an epub which the user shouldn't be able to leave.

I see two possible ways:
a) Expose the `FolioReaderCenter`s `collectionView` to external code. So we could disable the scrolling.
b) Add property / method / parameter which disabled the scrolling of the collection view. It would be possible to scroll thro

[2016-09-06 16:12] kjantzer commented on #134
@tschob - When you say "scroll through one page" are you referring to what would normally be a chapter?

[2016-09-06 16:13] tschob commented on #134
@kjantzer Yes, one `FolioReaderPage`.

[2016-09-06 16:15] kjantzer commented on #134
I think making it a config/parameter to disable the auto turn to next page/chapter.

[2016-09-06 16:18] tschob commented on #134
And the auto turn disabling would be implemented by setting `collectionView.scrollEnabled` to `false`, or do you another way?

I tested this approach shortly and it looked like it works without side effects.

[2016-09-06 16:20] kjantzer commented on #134
Yes, I think that's all that would be needed. I don't think it should create any problems.

Probably a good idea to add a config param and a public method for changing the setting even after an epub is open.

[2016-09-06 16:44] hebertialmeida commented on #134
Yeah a config would be nice, simple to use.

[2016-09-06 16:52] hebertialmeida commented on #132
This is cool, we will have to start a docs with sample usage, we already have in code documentation but we need something that generate web pages from MD files or something like that.

LinkedIn uses https://readthedocs.org for this https://linkedin.github.io/RocketData/index.html what your guys think?

[2016-09-06 16:56] hebertialmeida opened #135 "Usage documentation"
I have configured initially http://folioreaderkit.readthedocs.io/ but need to star writing...

[2016-09-06 16:57] hebertialmeida commented on #132
Just opened #135

[2016-09-06 17:15] hebertialmeida commented on #131
This is great.

[2016-09-06 23:14] hebertialmeida commented on #135
As we are using Jazzy, maybe we can do like http://reswift.github.io/ReSwift/master/

[2016-09-07 15:13] tschob commented on #133
Jsut exposing the static vars won't be enough as the changes of these properties doesn't refresh the UI. I have to encapsulate most of the logic from `FolioReaderFontsMenu` into a manager or helper which reacts on changes from the static vars.

The `FolioReaderFontsMenu` would then only change the static vars (as custom external code) and the manager / helper will update the UI (like it's down now

[2016-09-07 23:12] #134 closed

[2016-09-08 11:17] tschob commented on #133
This issue is now in progess

[2016-09-13 14:58] tschob opened #140 "Support multiple instances of the FolioReader"
Adjust the code to support multiple instances of a FolioReader. The `sharedInstances` have to be replaced with a diferent implementation therefore.

[2016-09-14 02:43] hebertialmeida commented on #140
I do not understand why, can provide more context?

[2016-09-14 07:52] tschob commented on #140
We need two readers on diferent places in the app. But we may could use `FolioReader.sharedInstance.readerContainer = reader` in this case - We have to check it.

Nonetheless it's currently not possible to dispaly two diferent Folio Readers in a app. I think that there is no need to let the reader be a singleton - except that the current implementation uses it as a shortcut. And there are multiple

[2016-09-14 10:28] felixpin opened #141 "Scroll to an Anchor on another Page from a Link."
When I have a link including an anchor inside the content and I click on it, the reader only changes the page and doesn't scroll to the anchor.

Example:

The ebook has Pages with content:

Page 1:
1. 1 Topic A
1. 2 Topic B
1. 3 Topic C

Page 2:
2.1 Topic D
2.2 Topic E
2.3 Topic F

When 1.3 Topic C has a link (in its content) to 1.2 Topic B, it works fine. It scrolls up to 1.2 Topic B like expecte

[2016-09-14 11:53] tschob commented on #140
With the current implementation and `olioReader.sharedInstance.readerContainer = currentReader` most of the font preferences aren't changed in the second reader instance, but the background of the page indactor is.

[2016-09-14 12:00] benyboariu opened #142 "Show image in full screen, like iBook, when double-tapped"
This nice feature is missing: when user double-taps on an image, show that image in full screen, like iBook is doing
<img width="2057" alt="screen shot 2016-09-14 at 15 01 43" src="https://cloud.githubusercontent.com/assets/958322/18511439/5a11974a-7a8c-11e6-8c26-22e2d40540fa.png">

[2016-09-14 12:46] hebertialmeida commented on #140
Makes sense, to use in these cases we will have to refactor the singleton. Also maybe we can simplify the ReaderCenter and ReaderContainer, this is a legacy because of the left side menu, now I think we can simplify that.

[2016-09-14 12:48] hebertialmeida commented on #142
Yeah, this is ca nice feature, added to the list. Feel free to help us on this 😄

[2016-09-15 02:52] hebertialmeida commented on #141
Can you send me the book? So I can debug it here.

[2016-09-15 03:04] hebertialmeida commented on #71
All classes are public, so closing this.

[2016-09-15 03:04] #71 closed

[2016-09-15 10:35] ProudOfZiggy opened #143 "Swift 2.3"
How I can get FolioReaderKit for Swift 2.3?
Your dependency - AEXML automatically using swift 3.....
RealmSwift also have troubles with swift 2.3 https://github.com/realm/realm-cocoa/issues/3894
I really need this...

[2016-09-15 11:32] ProudOfZiggy commented on #143
Actually I don't understand how you are using swift 3.0 module while FolioReader is still using swift 2.3

[2016-09-15 12:30] ProudOfZiggy opened #144 "Crash at file open"
Maybe its a result of iOS 10 SDK but... It crashing while trying to open a file with next message:

2016-09-15 16:26:27.980 MyApp[13190:162705] [SSZipArchive] Error: The file “9781491917480CH02.epub” couldn’t be saved in the folder “Documents” because a file with the same name already exists.
2016-09-15 16:26:27.983 MyApp[13190:162705] [SSZipArchive] Error: The file “9781491917480CH02.epub” couldn

[2016-09-15 12:53] ProudOfZiggy commented on #144
Even if I'm using other directory. Like Documents/Books I still have the same issue.

[2016-09-15 13:14] hebertialmeida commented on #143
FolioReader uses a compatible version from AEXML, I is on schedule the migration.

[2016-09-15 13:27] ProudOfZiggy commented on #144
It seems that initial reason in readContainer() which giving me:
Cannot read container.xml

[2016-09-15 13:34] ProudOfZiggy commented on #143
Well, Not works for me, It saying that Folio trying to use swift 3.0 module while Folio is on 2.3

[2016-09-15 13:53] ProudOfZiggy commented on #144
This one always throws an exception:

let containerData = try NSData(contentsOfFile: (bookBasePath as NSString).stringByAppendingPathComponent(containerPath), options: .DataReadingMappedAlways)

[2016-09-15 15:53] ProudOfZiggy commented on #144
P.S. Tested on iOS 9 SDK (Xcode 7.3.1) - everything is ok
iOS 10 SDK - Exception.

[2016-09-15 23:39] #132 closed

[2016-09-15 23:45] hebertialmeida commented on #144
Can you send me the book? So I can debug that.

[2016-09-16 09:05] tschob commented on #133
This should be done with https://github.com/FolioReader/FolioReaderKit/pull/138

[2016-09-16 14:00] #133 closed

[2016-09-16 14:04] hebertialmeida commented on #143
Fixed that on version 1.9.1, the problem was that the versions was not specified, sometimes it was using the most recent version.

[2016-09-16 14:04] #143 closed

[2016-09-16 20:38] ProudOfZiggy commented on #144
I've tested with a lot of different books. Unfotunately can't provide you a book =( But with iOS 9 sdk all working well

[2016-09-17 02:06] foosaa commented on #144
Cannot read container.xml
fatal error: unexpectedly found nil while unwrapping an Optional value

xcode 7.1.3  iOS 8.1.3

[2016-09-17 11:25] gneil90 commented on #97
Any update on this?

[2016-09-17 19:33] danfsd commented on #131
This is a great request. I've been working locally with Highlights outside of the Framework (stored on a server that is accessible via a webservice).

As most HTTP requests are made **asynchronously** it's needed a support to refresh the `FolioReaderPage` looking for new highlights.

Here's a snippet of the code I created to make this possible

[code]

[2016-09-18 04:11] foosaa opened #146 "Crash"
# **iPhone5 (iOS 8.1.3  Xcode 7.1.3)**

2016-09-18 12:10:12.760 Example[2484:1412030] [SSZipArchive] Error: The operation couldn’t be completed. (Cocoa error 516.)
2016-09-18 12:10:12.772 Example[2484:1412030] [SSZipArchive] Error: The operation couldn’t be completed. (Cocoa error 516.)
Cannot read container.xml
fatal error: unexpectedly found nil while unwrapping an Optional value
(lldb)

# **iPa

[2016-09-19 05:10] jonesdream commented on #146
When I inspect the app's sandbox, I've found in the Documents directory a *.epub file of the size 3k, not a unzipped directory.

[2016-09-19 14:13] ProudOfZiggy commented on #144
Using SSZipArchive version 1.5 didn't work for me.

[2016-09-19 23:22] #144 closed

[2016-09-19 23:28] hebertialmeida commented on #144
Sorry guys, I am merging the PR from @tschob and I have fixed Podfile.lock

Releasing a new version ASAP.

[2016-09-19 23:29] hebertialmeida commented on #146
Sorry guys, I am merging the PR from @tschob and I have fixed Podfile.lock

Releasing a new version ASAP.

[2016-09-19 23:29] #146 closed

[2016-09-20 01:12] hebertialmeida commented on #97
Not yet.

[2016-09-20 01:14] hebertialmeida commented on #131
@tschob What you thing about @danfsd solution? May be a first step to that...

[2016-09-20 04:09] hebertialmeida commented on #143
There is a branch for Swift 2.3:
[code]

[2016-09-20 04:11] hebertialmeida commented on #129
You can build on Xcode 8 now, but using Swift 2.3 on branch `swift23`. I am working on Swift 3 migration

Use it like this:
[code]

[2016-09-20 04:11] #129 closed

[2016-09-20 04:12] hebertialmeida opened #148 "Swift 3 migration"

[2016-09-20 04:14] hebertialmeida commented on #83
Can you check if this is fixed on last version? I will close this for now and if it is not fixed, please reopen it.

[2016-09-20 04:14] #83 closed

[2016-09-20 04:15] #127 closed

[2016-09-20 04:16] #119 closed

[2016-09-20 08:05] tschob commented on #131
My approach will indeed be partly similar to @danfsd solution. As the highlights from our app are too diferent to the ones from the Folio Reader we decided that it would be better to add some apis to the Folio Reader which enables us to implement the hightlight in the outside of the Folio Reader.
Therefore we need to modify the HTML string before it's loaded (maybe also to insert a custom Java Scr

[2016-09-21 03:41] hebertialmeida opened #152 "Page content disappear sometimes"
@tschob I am preparing to swift 3 migration, I think this problem maybe caused on page, center and container changes, could you help me track that?

I have merged you changes and I am not sure it everything is ok on branch `swift23`, seems that it is ok on master.

**Steps to reproduce:**
Click on internal links, sometimes it break on scrolling to next page.
Watch the video https://dl.dropboxuserc

[2016-09-21 08:09] tschob commented on #152
@hebertialmeida I took a look in it but didn't solved it for now. It looks strange: If the webview isn't visible it's actually because the `UICollectionViewCell` seems to be gone. If the View Hierachy is captured by the view debugger the collection view cell is there:

**Screenshot 1: Working and visible page**
![bildschirmfoto 2016-09-21 um 09 58 54](https://cloud.githubusercontent.com/assets/323

[2016-09-21 08:22] tschob commented on #152
Second observation: I can't reproduce it on iOS 9.2. Can you?

Unfortunately I don't have time for further investigation as our project is in a hurry and I need to continue working on that.

[2016-09-21 13:34] tschob commented on #148
@hebertialmeida What's the plan after the migration to Swift 3 is done: Will Swift 2.2. and Swift 2.3 be updated to with fixes and new featuers? Or will they stay like they are now and all development will just take place based on the Swift 3 branch?

[2016-09-21 13:44] hebertialmeida commented on #148
For me it is impossible to maintain multiple versions, so basically what I will do is same as many libraries does, When migrated to Swift 3 on a branch It will take place on master, the development will continue.

Sample: https://github.com/Alamofire/Alamofire

Users will be able to use in Swift 2.2, 2.3 and 3 specifying it in Cocoapods, but the last version will be in 3.0 as it is the language ev

[2016-09-21 13:48] tschob commented on #148
Ok. So new PRs should better wait for the Swift 3 migration to be done? Do you have an idea when the migration is done?

[2016-09-21 13:50] hebertialmeida commented on #148
It is everything working on Swift 2.3 already, just found this bug #152. When it is fixed I will start the migration to version 3, by the end of week or next week.

[2016-09-21 21:03] tschob commented on #152
It's seems that the new prefetching is the problem. I couldn't reproduce the bug by disabling the prefetching.
[code]
This could be the Bugfix. But it may make sense to try to find out what the exact problem is. If it's not an iOS 10 Bug it might be possible to keep the prefetching enabled without a broken folio reader.

[2016-09-22 01:55] hebertialmeida commented on #152
That makes sense, I will investigate...

[2016-09-22 04:04] hebertialmeida commented on #152
It is not only in swift 2.3, also in 2.2 iOS 10.

[2016-09-23 02:58] hebertialmeida commented on #152
@tschob Definitely it is not related to iOS 10, I can reproduce it on iOS 9.3 with Swift 2.2. It is happening on horizontal scroll direction for me.

![screen shot 2016-09-22 at 23 57 08](https://cloud.githubusercontent.com/assets/103670/18772840/8ce079d0-8139-11e6-8237-6a9331d835d1.png)

[2016-09-26 09:13] sam961 opened #158 "UIMenuItem White Color"
Hello,
When I had updated to ios 10 , UIMenuitem  images became white color.
any one else faced the problem?
![simulator screen shot sep 26 2016 12 11 25 pm](https://cloud.githubusercontent.com/assets/4921874/18828895/907c7002-83e2-11e6-91d7-089024bd11d0.png)

[2016-09-27 01:23] hebertialmeida commented on #158
Hey @sam961, yeah, I have noticed that. This is a problem with UIMenu library https://github.com/cxa/UIMenuItem-CXAImageSupport/issues/9

I will be working on this to fix, the problem is that this lib is deprecated and the new one we had problem on its implementation.

[2016-09-27 03:08] #158 closed

[2016-09-27 03:09] #41 closed

[2016-09-28 00:12] hebertialmeida commented on #113
I think this is possible to implement using the new `ClassBasedOnClickListener`, @adammlevy take a look on https://github.com/FolioReader/FolioReaderKit/blob/master/Example/StoryboardExample/ExampleFolioReaderContainer.swift#L24

[2016-09-28 00:14] hebertialmeida commented on #130
Closing this issue, I think this is already possible with new public APIs, feel free to open it again.

[2016-09-28 00:14] #130 closed

[2016-09-28 00:22] hebertialmeida commented on #152
For now it is fixed using @tschob's solution
[code]

[2016-09-28 00:22] #152 closed

[2016-09-28 03:54] hebertialmeida commented on #148
There is a working version on `swift3` branch, also `swift23`.

Now it needs test, because there is a lot of changes...

[2016-10-01 07:16] socquique opened #160 "Problem with split view in iPad"
Hi guys,

I'm experiencing a problem when try to use the split view in iPad. This is what I'm trying to do to fix it but doesn't work well. Could you help me with that? In FolioReaderCenter.swift I have override the viewWillTransitionToSize and implemented the calls to device orientation changes. This works well for rotations, but no for screen size changes.

[code]

Thanks in advance!

[2016-10-06 13:08] hebertialmeida commented on #148
Closed by PR #162

[2016-10-06 13:08] #148 closed

[2016-10-06 13:09] tiana890 opened #163 "UISearchBar causes error after appearing of FolioReaderContainer"
I have a collection in my UIViewController and UISearchBar above it. When I tap on some cell and present FolioReader, then close it - I have some issues with UISearchBar. If I try to resignFirstResponder on UISearchBar my App fails.
I tried to present another controller and everything was ok.
May be if I figure out some internal features of FolioReader I can find what's wrong. Perhaps some kind pe

[2016-10-06 19:50] benyboariu opened #164 "Crash if "Cannot read container.xml""
I found a crash. If `readContainer()` method fails, then `readOpf()` will crash in this line:
`let opfPath = (bookBasePath as NSString).appendingPathComponent(book.opfResource.href)
`
Cause: `fatal error: unexpectedly found nil while unwrapping an Optional value`

The problem I see is that `readContainer()` is not throwing. In my opinion, it should throw, because you have there a do/catch, but if

[2016-10-07 01:49] hebertialmeida commented on #163
Could you post a sample code, so it will be easy to understand what is happening.

[2016-10-07 03:20] hebertialmeida commented on #98
Fixed by 14282a71454476be74d1fcc3b2ce866c6a94205c

[2016-10-07 03:20] #98 closed

[2016-10-07 13:17] tiana890 commented on #163
//ListViewController.swift

    //...
    @IBOutlet var searchBar: UISearchBar!
    overrided func  viewDidLoad(){
        //...
        openBook()
    }

    func openBook(){
        let config = FolioReaderConfig()
        config.scrollDirection = .horizontal

        if let bookPath = self.path{
            FolioReader.presentReader(parentViewController: self, withEpubPath: bookPath, andConfig:

[2016-10-09 06:39] CeeYang opened #165 "How can I use it in xCode8?"
I have update my cocoapod,and pod it with 'FolioReaderKit', '~> 0.8',set the Swift Version 2.3,But it doesn't work.
The Error Msg is :
"
ld: /Users/pro/Library/Developer/Xcode/DerivedData/EpubTest-bhhkedjkerjdatfpbfkkskujtjlq/Build/Products/Debug-iphonesimulator/AEXML/AEXML.framework/AEXML compiled with older version of Swift language (2.0) than previous files (3.0) for architecture x86_64
clang:

[2016-10-09 08:56] hebertialmeida commented on #165
For Xcode 8 and Swift 3 use ~>1.0.0, take a look on releases https://github.com/FolioReader/FolioReaderKit/releases

[2016-10-09 08:56] #165 closed

[2016-10-10 12:10] tomasgibas opened #166 "Night mode tint color, menu text color"
It would be great if there is possibility to also set tint color, text color, or highlighted text color in night mode. For example tint color of bar button items in navigation bar.

[2016-10-10 13:22] alexwillrock opened #167 "cannot open epub file"
i download epub file from link , and want to open it in this framework, but see empty text in chapters and full list of chapters. (epub 2) file

after i go to documents folder and open epub file from iBooks, and iBooks work.

example epub file [314093.epub.zip](https://github.com/FolioReader/FolioReaderKit/files/519549/314093.epub.zip)

where I made a mistake ?

my open code is
`    NSString *uid

[2016-10-11 07:53] Skyna commented on #163
I got the same issue. This is how my view is structured.

The cell within the UITableViewController contains UICollectionViews. And there is a UISearchbar in the UINavigationBar. When i open e ePub file and then close it and then tap the UISearchBar. The app crashes and gives this error message.

[57457:2336266] *** -[FolioReaderKit.FolioReaderCenter respondsToSelector:]: message sent to deallocat

[2016-10-11 11:51] hebertialmeida commented on #166
Do you want a different tintColor while in night mode?

[2016-10-11 12:49] hebertialmeida commented on #163
@Skyna Could you please create a sample project simulating your project, with tableView and collectionViews + SearchBar?

[2016-10-11 13:13] hebertialmeida commented on #163
Also test my latest commits on master branch.

[2016-10-11 13:22] Skyna commented on #163
@hebertialmeida i made a test project and i was able to create the bug again. However this time Xcode shows exactly where the error is. (I hope it is the same error as i had)
<img width="1113" alt="screen shot 2016-10-11 at 15 21 11" src="https://cloud.githubusercontent.com/assets/3736780/19271784/670deba2-8fc6-11e6-8ea4-083090f89db5.png">

You can download the this project here:

https://www.drop

[2016-10-11 13:32] hebertialmeida commented on #167
You have send me the unzipped pub, can you send it again?

[2016-10-11 13:32] tiana890 commented on #163
@hebertialmeida I have tested your fix and everything works fine. Thank u very much.

[2016-10-11 13:35] hebertialmeida commented on #163
@tiana890 NP 😄
@Skyna Make sure you are using the latest master commit, because your code from print screen is different from the master. It is not released yet.

[2016-10-11 13:38] Skyna commented on #163
@hebertialmeida My project is build in Swift 2.3 so i use the swift23 branch.

[2016-10-11 13:40] hebertialmeida commented on #163
Swift 2.3 will not be maintained anymore, from now only swift 3 will be updated. But you can copy the fix from master and test it.

[2016-10-11 13:41] Skyna commented on #163
@hebertialmeida i see. Okej, thanks for your help :)

[2016-10-11 13:42] #163 closed

[2016-10-11 14:06] tiana890 opened #168 "The app sometimes crashes when I try to present FolioReader for not first time"
My controller code:

     //....
     override func viewDidLoad() {
     super.viewDidLoad()
      //...
      openBook()
    }

    //MARK: Logic
    func openBook(){

        if let bookPath = self.path{
            let config = FolioReaderConfig()
            FolioReader.presentReader(parentViewController: self, withEpubPath: bookPath, andConfig: config)
        }
    }

    @IBAction func open

[2016-10-11 14:41] alexwillrock commented on #167
for example http://napoiske.ru/b/417484.epub
iOS 9+

[2016-10-13 07:20] mahavir-jain commented on #167
@hebertialmeida on both iOS and Android, it is showing empty pages.. But when we remove following lines from html files of epub, it works..

<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
</head>

Seems like some CSS problem..

I ho

[2016-10-13 13:39] hebertialmeida commented on #167
@mahavir-jain Yeah, this is the problem, it has duplicated tags and the title tags is closed wrong. This is not a FolioReader problem, but webView can not parse this html.

@alexwillrock try to use a validator http://validator.idpf.org

[2016-10-13 13:39] #167 closed

[2016-10-13 13:40] hebertialmeida commented on #168
Fixed.

[2016-10-13 13:40] #168 closed

[2016-10-17 11:56] benyboariu commented on #16
I need to implement Notes feature, in one of my project. Did anyone start working on this as today?

[2016-10-17 12:16] hebertialmeida commented on #16
@benyboariu Not yet. Maybe @tschob did something.

[2016-10-20 11:35] tschob commented on #16
@benyboariu Nothing was started by me as well.

[2016-10-21 07:31] hoosrightapp opened #169 "return readerConfig.shouldHideNavigationOnTap == false ? false : shouldHideStatusBar"
![screen shot 2016-10-21 at 1 00 22 pm](https://cloud.githubusercontent.com/assets/15337033/19590229/5d7bb478-978e-11e6-82cc-cf8f4ac03c0a.png)

Swift 3 getting this error

[2016-10-21 07:57] dev-pankajkainthla opened #170 "Long press show delete menu rather than highlight option"
@hebertialmeida If user had just highlighted a text and then long press another text right after that then there is option to delete rather than highlight. After user cancel that selection and long press the second time , only then the highlight menu appears   .shot 2016-10-21 at 1 25 29 pm](https://cloud.githubusercontent.com/assets/20315597/19590910/f810e460-9791-11e6-9d87-76b28ec0cde2.png)

[2016-10-26 15:15] makaGeroge opened #171 "Install version with swift3"
Hello, I'm trying to install FolioReaderKit version 1.0.0 but the pod file gives an error. I downloaded the 1.0.0 release and I see I have to install all the dependencies manually. Is there an easy way to download a fully working version for swift3?

Thanks,

Jorge

[2016-11-02 11:56] Skyna opened #172 "Module compiled with Swift 3.0.1"
Greetings,

I use CocoaPods for the integration of this library. However, sinds recently when i updated my Xcode to 8.1. I am getting this issue from within my project:

"Module compiled with Swift 3.0 cannot be imported in Swift 3.0.1"

So my question is. When will there be a release of this library which is compiled in Swift 3.0.1?

Thanks!

[2016-11-03 09:37] tiana890 opened #173 "Bug at scroll to next chapter in horizontal mode"
Strange situation sometimes occurs when I scroll the book between tho chapters. The next chapter appears on its last page, not on the first one as it must be. Perhaps you can help with this situation?  It happens with horizontal scroll mode.

[2016-11-03 09:50] isakvan opened #174 "Can't run Example"
I ran  - $ pod install   from Example dir, I tried from root too.
What I do wrong? Thank you.
And Get this report:

Setting up CocoaPods master repo

CocoaPods 1.2.0.beta.1 is available.
To update use: `sudo gem install cocoapods --pre`
[!] This is a test version we'd love you to try.

For more information, see https://blog.cocoapods.org and the CHANGELOG for this version at https://github.com/Coc

[2016-11-03 20:10] perlmunger commented on #172
I'm getting the same error, but when building with Carthage

[2016-11-06 15:42] isakvan commented on #174
Ok, works, thanks

[2016-11-06 15:42] #174 closed

[2016-11-07 06:35] tiana890 commented on #173
I suppose the problem is in FolioReaderPage.swift:
    // MARK: - UIWebView Delegate

    open func webViewDidFinishLoad(_ webView: UIWebView) {
		//...

        let direction: ScrollDirection = FolioReader.needsRTLChange ? .positive() : .negative()

        if pageScrollDirection == direction && isScrolling && readerConfig.scrollDirection != .horizontalWithVerticalContent {
            scrollPage

[2016-11-07 11:55] lukacs-m opened #175 "Pod version conflict with Realm swift"
Hello,
First I wanted to thank you for the great work your are doing.
I just wanted to let you know that FolioReader generates a Pod conflict with the new realm swift.
Indeed realm swift had a new version v2.x out recently and It seems that FolioReader is still using an old version of realm swift v1.x.
This situation seems to generate a conflict between Reamlswift and FolioReader when pod install

[2016-11-07 12:06] tiana890 commented on #173
I figured out what is the problem. It is in FolioReaderCenter.swift file:

    //....
    open func scrollViewDidScroll(_ scrollView: UIScrollView) {
        //......
            pageScrollDirection = scrollView.contentOffset.forDirection() < pointNow.forDirection() ? .negative() : .positive()
    }
The property pageScrollDirection changes many times here. So (according to my previous comment) whe

[2016-11-07 19:16] EmersonCarpes commented on #37
Have you found some solution @kjantzer to the problem of highlight between multiple paragraphs?

[2016-11-07 19:26] kjantzer commented on #37
@EmersonCarpes I have not. The rangy plugin was looking promising but I've since moved on to other projects at work and haven't had time to work folioreader

[2016-11-07 20:16] danfsd commented on #97
Looks like it's related to malformed html due to closing `<p>` tags.

This could be a practical example of a malformed html:
[code]

[2016-11-07 22:26] revolter commented on #175
Are you receiving any errors in terminal? Because I'm using Realm Swift too but I don't get any when I install the pods, though Xcode can't find the `FolioReaderKit` module.

[2016-11-07 23:36] revolter commented on #20
Is there any option to change the default location of the unzipped ePubs? I would like to keep them in a subfolder.

[2016-11-08 07:11] revolter commented on #135
Did you consider using [GitBook](https://www.gitbook.com)?

[2016-11-08 07:11] revolter commented on #135
The `Install in Dash` button from your last link is great!

[2016-11-08 12:23] hebertialmeida commented on #135
@revolter GitBook is great, but it is paid...

[2016-11-08 12:31] hebertialmeida commented on #20
@revolter We don't have that, but I think it is interesting to have..

[2016-11-08 12:39] revolter commented on #20
Can you give me a direction of where I'd be done? I might open a PR.

[2016-11-08 12:40] hebertialmeida commented on #173
Did you fixed?

[2016-11-08 12:41] revolter commented on #135
Only if you want private books and/or custom domain. And it looks like it's free for OSS.

[2016-11-08 13:13] hebertialmeida commented on #135
I will take a look

[2016-11-08 13:15] hebertialmeida commented on #20
Basically you can add an extra parameter to keep the original book at some path, when unzip the book you can move that to this informed path.

[2016-11-08 13:15] hebertialmeida commented on #171
Can you provide more details, how to reproduce and the error?

[2016-11-08 13:17] hebertialmeida commented on #166
there is a parameter for setting these colors, https://github.com/FolioReader/FolioReaderKit/blob/master/Source/FolioReaderConfig.swift#L106

[2016-11-08 13:17] #166 closed

[2016-11-08 13:18] hebertialmeida commented on #160
I have never implemented this, any success on this implementation?

[2016-11-08 13:33] revolter commented on #20
I was meaning to ask about a/some specific classes, as I'm not accustomed to the project yet.

[2016-11-08 13:34] revolter commented on #135
I first saw it [used by Lacona](https://docs.lacona.io) and found it simpler than readthedocs. And what I love the most is the ability for a user to add a comment to any paragraph, which looks like a GitHub issue which can be replied and closed. Depending on my time, I'd be up to help with it.

[2016-11-08 14:35] socquique commented on #160
As I said, it works fine for device orientation changes, but not for split view changes.
All help is welcome.

[2016-11-09 07:03] tiana890 commented on #173
I fixed the problem in my project. But it looks more like temporary solution. I can show it if you need. What should I do?

[2016-11-10 21:37] perlmunger commented on #172
This worked for me using carthage:

`carthage update --platform iOS --no-use-binaries`

[2016-11-11 12:42] payalbaldota commented on #175
Any updates on this? I am also getting the error for many dependent frameworks for still using Swift 2.3. My OS version is 10.11.6. I am trying to build the Example on Xcode 8.0

[2016-11-11 12:44] payalbaldota commented on #165
Any updates on this? I am also getting the error for many dependent frameworks for still using Swift 2.3. My OS version is 10.11.6. I am trying to build the Example provided in version 1.0.0 on Xcode 8.0

[2016-11-14 10:03] aleksandrkr-hyuna opened #180 "Class PLBuildVersion is implemented in both"
Hi!
I have a problem:
Warning in log
objc[4731]: Class PLBuildVersion is implemented in both /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/PrivateFrameworks/AssetsLibraryServices.framework/AssetsLibraryServices (0x118b4d998) and /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/S

[2016-11-16 06:43] revolter opened #182 "Access ePub metadata"
How can one access an ePub's metadata (title, cover, etc)? I managed to do it using `FRMetadata` after marking it as `public`. Is there another way? If not, why is it (and `FRBook`, `FREpubParser`, `readEpub` too) private?

[2016-11-22 05:16] alimir1 opened #184 "Keeps crashing. What am I doing wrong? [Help needed]"
Thanks for this. Looks awesome; however, I'm trying to use this repo but with no success (first time using this). I'll donate if I get this issue fixed.

I have the following setup:

![screen shot 2016-11-21 at 9 10 14 pm](https://cloud.githubusercontent.com/assets/3302661/20511691/3721ca6a-b02f-11e6-929f-23ae2919b75a.png)

![screen shot 2016-11-21 at 9 10 22 pm](https://cloud.githubusercontent.co

[2016-11-25 13:13] valinaga commented on #184
+1

[2016-11-25 16:24] alimir1 commented on #184
That's strange because in viewDidLoad() of FolioReaderCenter() collectionView is assigned:

![screen shot 2016-11-25 at 8 22 59 am](https://cloud.githubusercontent.com/assets/3302661/20630862/880ea66c-b2e8-11e6-8873-defa4247531b.png)
![screen shot 2016-11-25 at 8 23 10 am](https://cloud.githubusercontent.com/assets/3302661/20630861/880355fa-b2e8-11e6-8cc4-e94ed4e7becd.png)

[2016-11-25 16:58] valinaga commented on #184
I tested it and viewDidLoad() of FolioReaderCenter() is never called.

[2016-11-25 17:12] valinaga commented on #184
It's stupid solution but you can add this
`                self.centerViewController.viewDidLoad()`
on top of this
`                self.centerViewController.reloadData()`
at line around 145 in
`FolioReaderContainer.swift`
It works for me but it's stupid indeed. :(

[2016-11-26 00:32] alimir1 commented on #184
awesome valinaga! Maybe you can do a pull request.

i'm gonna donate!

[2016-11-27 02:26] alexliubj commented on #97
Ya, I think @danfsd  is right. If you replace <p> </p> tags with </br> or <br>, this issue will be fixed when highlight some words in two paragraph. But the thing is <p> is one of the standards tag in epub format.

[2016-11-27 10:23] isakvan opened #185 "How can I disable PageIndicator"

[2016-11-27 15:08] danfsd commented on #97
I think that it could work the way it's already implemented, we just need to find a way to verify if the highlight was made over a paragraph intersection. If positive, we need to look for a way to create 2 highlight tags without counting as one instead of two.

[2016-12-01 05:51] gennaios commented on #89
Curious if there's any progress. I haven't looked at it in a while, but hope to continue or try again in the next few months or sooner. hopefully. btw, changed my username. If not too much trouble, if you could edit the 3 refs to my old name, and then I'll edit out this sentence, please. :)

[2016-12-05 13:10] #170 closed

[2016-12-07 18:10] harikeerthipati opened #186 "Crashing After Highlight"
Hi, After Highlited the text, again MenuController is showing hightlight options only instead of showing colors options. Then I tapped on highlight option, app is getting crashed here. I m getting this issue in latest code which is committed 2 days ago.

[2016-12-08 09:54] tiana890 opened #187 "Bug with open FolioReader from the controller with keyboard"
Hello! Perhaps, u can help me. I have a collection in my UIViewController and UISearchBar above it.
When the keyboard is shown and I tap the cell on my collection I go to another controller and present FolioReader there. Sometimes (not every time) I get strange crash.
I have already opened the issue with UISearchBar (https://github.com/FolioReader/FolioReaderKit/issues/163).
This is the log:

#0.

[2016-12-08 10:32] tiana890 commented on #187
One more thing. After investigating the issue I found that it happens when FolioReaderWebView is not deallocated. The state of allocations after this crash:
![image](https://cloud.githubusercontent.com/assets/2170659/21006621/84861cd2-bd5b-11e6-9765-a45fc28f1485.png)

[2016-12-08 14:48] piechart opened #188 "Unable to install latest version via CocoaPods"
Latest is 0.8
But in releases I can find 1.0 which support Swift 3
Installing version 0.8 I'm getting this `beautiful` list
Removing version from Podfile does not solve the problem

<img width="247" alt="2016-12-08 17 37 07" src="https://cloud.githubusercontent.com/assets/17230738/21014283/726cfff8-bd6e-11e6-8079-c65f1ffe548d.png">

[2016-12-08 17:14] piechart commented on #188
Succeeded after removing Podfile.lock, I'd also used Realm as separate pod and it was 2.0.2 version except 1.0.1 required by FolioReader.
Also tried installation via Carthage - it failed on building main scheme for the first time, and on building JSQWebViewController's Demo.xcworkspace - xcodebuild timed out while trying to read Demo.xcodeproj  :)

[2016-12-08 17:14] #188 closed

[2016-12-09 00:23] hebertialmeida commented on #184
This is very strange guys, I can not simulate that behavior `viewDidLoad` of not getting called. How to reproduce this?

[2016-12-09 00:26] hebertialmeida commented on #182
Hey, in the beginning everything was private, I have changed it and trying to open the most of things. You can expose it if you with, and please make a PR 😄

[2016-12-09 00:30] hebertialmeida commented on #180
What is the problem with this warning?

[2016-12-09 00:32] hebertialmeida commented on #175
I am not able to maintain Swift 2.3, new fixes and features will follow master with Swift 3+.

Sorry...

[2016-12-09 00:32] #175 closed

[2016-12-09 00:54] hebertialmeida commented on #172
Does it solve the problem? I will close the issue, feel free to open again if not solved.

[2016-12-09 00:54] #172 closed

[2016-12-09 04:20] perlmunger opened #190 "File Not Found Because The Path Changes?"
This is a weird one. It doesn't happen with all .epubs, but the one I am working with has this issue where the path I get from the bundle (loading it as a local resource) it different than the one the FREpubParser is attempting to parse. In this code:

[code]

I break on the line where `getCoverImage` is before that code gets called and I `po` the `bookPath` variable which tells me the file path i

[2016-12-09 08:51] tiana890 commented on #187
I found that the problem is caused because of this line of code in FolioReaderCenter:

     open func collectionView(_ collectionView: UICollectionView, cellForItemAt indexPath: IndexPath)     -> UICollectionViewCell {
        //...
        cell.webView.scrollView.delegate = self
        //....

In order to fix this situation it is better to set this delegate to nil in deinit of FolioReaderPage.sw

[2016-12-09 08:56] revolter commented on #182
Well, I previously decided to go with my own fork with public APIs but if you can be active and review my PRs, I'll surely create some 😄

[2016-12-09 12:25] hebertialmeida commented on #190
One think I noticed is that seems that it is entering on catch while reading container.xml.
[code]
Please make sure that this ePub has a valid container at this path `META-INF/container.xml`. I am aware that I need to make this `readEpub` function failable. It can not continue if the container do not exists.

Is it possible for you to send this ePub to my email, so I can test that?

[2016-12-09 12:33] hebertialmeida commented on #182
I can definitely review it, as it is my side project I don't have full time for it.. I do my best, that is why I need people like you 👍

[2016-12-09 12:34] hebertialmeida commented on #187
Hey @tiana890, does it fixes you bug? Could you please make a PR?

[2016-12-09 12:37] hebertialmeida commented on #186
Hey, please check the latest master version.

[2016-12-09 12:40] hebertialmeida commented on #185
Today it is not possible, although would be great to have this option. If you have implemented this please make a PR, if not I will do it when I have some time.

[2016-12-09 12:41] hebertialmeida commented on #169
Could you provide more details and steps to reproduce that...

[2016-12-09 12:42] hebertialmeida commented on #190
This is probably related to #164

[2016-12-09 12:44] hebertialmeida commented on #164
Yes you are right, `readContainer()` needs throw. Actually the `readEpub` need to be failable. Did you fixed this?

[2016-12-09 14:13] revolter commented on #182
I plan to use this library extensively in an app so I'll want some fixes for myself too.

[2016-12-09 15:12] perlmunger commented on #190
Thanks for taking a look, Herberti. I appreciate it.

I'm not familiar enough yet with epubs internal workings. Is the container something you have to add while authoring? Also, I noticed from within the filesystem (terminal) that the one I'm using is actually a directory (bundle) while the ones you have in the sample app are single files--not directories. What is the difference between the two? I

[2016-12-09 17:16] harikeerthipati commented on #186
Crash issue fixed. But the old issue coming again. We have two types of text selection options for uiwebview. One is double tap and another is long press on text. Double tap works fine. But when selected text using long press, first it is showing initial MenuController(consists Copy, Play, Highlight etc..) options fine. But when selected next time it is directly showing colors options and if we pr

[2016-12-10 16:09] tiana890 commented on #187
@hebertialmeida yes it fixed my issue.

[2016-12-13 23:03] perlmunger opened #192 "Not Sure How To Use Font Blaster"
I need to add a font to my project. If I just add the font to my bundle making sure it's part of the build target, is that enough for Font Blaster to pick it up, or do I need to do something else? Thanks.

[2016-12-13 23:05] perlmunger commented on #190
I'm not completely sure, but I'm wondering if the difference between my files is ePub 2 vs ePub 3. I've gone back into InDesign and re-exported the ePub ensuring it's ePub 3 which seems to be the single file rather than the bundle and that seems to be working.

[2016-12-14 12:00] hebertialmeida commented on #187
Hey, it is a Pull Request.

[2016-12-15 08:12] uituit opened #193 "Working with epub created with iBooks Author app"
Just tried to use the Kit to load a epub book I made in iBooks Author app, but crashes because there's no Cover image. Wondering if the epub created by Apple's epub solution is not in a common structure when comparing with epub generated by, i.e. Calibri.

[2016-12-15 11:41] hebertialmeida commented on #193
The format generated by iBooks Author is a totally different format, not the same standards from ePub 2 and ePub 3. There is not support for that.

[2016-12-15 11:41] #193 closed

[2016-12-16 18:21] perlmunger commented on #192
Maybe I have the wrong expectation here. Does this library support using the fonts specified by the ePub?

[2016-12-16 18:41] alexliubj opened #195 "Question about Javascript function."
I saw a function in javascript file. `function setMediaOverlayStyleColors(color, colorHighlight)`
What exactly this one is doing?
Just overwrite css above the CSS comes with EPUB books?

Thanks,

[2016-12-19 19:11] hebertialmeida commented on #195
This function is to set media overlay style color :)

It do not override the CSS from book, but when you are playing the book with TTS or Media Overlay this set the selected text color.

[2016-12-19 19:11] #195 closed

[2016-12-19 19:14] hebertialmeida commented on #192
Hey, currently the app override the book fonts, because it focus o end User Experience, as the books comes from many publishers each book has one font style and size pattern.

Although, we want to support the default book font in future.

[2016-12-19 19:14] #192 closed

[2016-12-20 11:15] hebertialmeida commented on #190
I have checked you ePub and couple things:
- It is a fixed layout ePub, we do not support that yet;
- As you said it is not an single file, probably unzipped with the same file name;
- Yeah I will fix the bug of crashing related to issue #164

[2016-12-20 20:59] piechart opened #197 "How to make page size larger?"
I've tried to dance with webViewFrame() but nothing finished with result I'm waiting for.

Hot to resize it to real device size? Also pinch-to-zoom would be useful.

![2016-12-20 23 58 54](https://cloud.githubusercontent.com/assets/17230738/21367739/53a42050-c710-11e6-88ba-379ed6d7d792.png)
![2016-12-20 23 59 05](https://cloud.githubusercontent.com/assets/17230738/21367738/53a37614-c710-11e6-8745-

[2016-12-22 11:38] hebertialmeida commented on #187
I think this can be closed by the PR #194

[2016-12-22 11:38] #187 closed

[2016-12-22 11:41] hebertialmeida commented on #186
Could you make a video of that, simulating the problem? Will help me on that.

[2016-12-22 11:41] #171 closed

[2016-12-22 11:42] hebertialmeida commented on #113
I will be closing this for now, I think this is solved by `ClassBasedOnClickListener`.

[2016-12-22 11:42] #113 closed

[2016-12-22 11:43] #80 closed

[2016-12-22 11:43] #77 closed

[2016-12-26 18:33] harikeerthipati commented on #186
Hi,

https://drive.google.com/file/d/0B-ALJ1rRn1aUaWZ1Q2trdENzdGM/view?usp=sharing <https://drive.google.com/file/d/0B-ALJ1rRn1aUaWZ1Q2trdENzdGM/view?usp=sharing>

Please find the video in above google drive link. In this you can find where exactly issue generating.

1) At first i have double taped on text, this case everything works fine. I mean first I have selected Highlight, after that color o

[2016-12-28 12:41] harikeerthipati opened #198 "Search and Notes Feature"
Curious to know about Book search and add Note feature. Are they under progress?

[2016-12-29 11:26] hebertialmeida commented on #197
This page is probably a bitmap image, that is why the size is like that.

[2016-12-29 11:28] hebertialmeida commented on #198
Not started yet, there is some discussion on #43

[2016-12-29 11:28] #198 closed

[2017-01-01 08:41] isakvan opened #199 "Crash FolioReader after edit UITextField"
Thank you for a wonderful library!
Unfortunately I faced with the library crash.
This occurs if the application have UITextField. After calling FolioReader, close it and  try to edit UITextField and close keyboard(finish edit UITextField), at this time causes crash the application and  I have zombies message -

![image](https://cloud.githubusercontent.com/assets/1402101/21580613/0b96f4c6-d00d-11e6

[2017-01-01 12:17] isakvan commented on #199
I downloaded the code library FolioReader and connect locally
  pod 'FolioReaderKit',: path => '~ / FolioReaderkit
**crash not occurs**

possible correction has not yet entered the pod release?

[2017-01-03 10:06] stopiccot opened #200 "Two page layout for tablets"
It would be nice to have a two page layout options for landscape orientation on tablets:

![img_0008](https://cloud.githubusercontent.com/assets/24836/21604647/64e47f40-d1b5-11e6-8b3a-91cc4f5e330f.PNG)

[2017-01-08 15:49] CeeYang opened #201 "Excuse me, how can I make it support iOS 7?"
Thanks for noting.
    I had browsed the epub demo in github which write with Objective-C,it not very well.
    Is there any way to make this project support iOS 7, and I want use it in Objective-C.
    Any suggest？
    Thanks.

[2017-01-10 12:56] hebertialmeida commented on #201
As the code is written in Swift 3 you will probably have many difficult with that, but may be possible.. http://stackoverflow.com/questions/38414469/do-xcode-8-swift-3-apps-run-on-ios-7-successfully

[2017-01-10 12:56] #201 closed

[2017-01-10 12:58] hebertialmeida commented on #200
This is pretty interesting, but I have no idea how to accomplish this, as we are already using the webView pagination.

Need to look deeper on that.

[2017-01-10 12:59] hebertialmeida commented on #199
I think it is already fixed, I am releasing a new version now...

[2017-01-10 13:44] #199 closed

[2017-01-10 13:45] #185 closed

[2017-01-10 13:48] sam961 opened #202 "Arabic horizontal Direction"
Guys,
The horizontal scroll for books is buggy, who can work with me to fix this issue  especially for arabic books ?

[2017-01-10 15:34] harishsave opened #203 "Objective-C Example Please"
I have a project in Objective-C and I want to use FolioReaderKit in it. I've added the frameworks via Carthage. Can anyone please explain me how to open the epub file in the reader and show it, using Objective-C?

[2017-01-11 21:45] revolter commented on #186
I can't reproduce the original issue/crash :(

[2017-01-11 21:50] revolter commented on #186
@harikeerthipati, Any possibility for you to revert to the old version and record a video where you reproduce the crash? It will help me solve both issues.

[2017-01-16 12:54] HadrienGardeur commented on #200
Also, it's worth pointing out that there are two very different cases in EPUB:

- if the publication is a Fixed Layout EPUB, you'll actually display two different resources (probably using two different webviews) and will have to look into the way EPUB handles spreads (left/right page, orientation, double pages)
- for a reflowable EPUB, this is indeed tied to how you actually paginate the content

[2017-01-16 12:55] HadrienGardeur commented on #197
Certainly looks like a bitmap to me, this might be a fixed layout EPUB.

[2017-01-16 13:03] HadrienGardeur commented on #103
It can be handled by looking at the content of the manifest and detecting media types tied to audio.

The only case where an audio file won't show up would be when an HTML resource containe a `<audio>` element to a remote resource. This is more difficult to detect than simply browsing the manifest, but you can first look for HTML resources that contain `remote-resources` in their `properties` and

[2017-01-17 10:26] michal-majchrzycki opened #205 "Update Podfile description"
Please, update Podfile description in README.md.

Now:

target '<Your Target Name>' do
    pod 'FolioReaderKit'**, '~> 0.8'**
end

Should be:

target '<Your Target Name>' do
    pod 'FolioReaderKit'
end

[2017-01-17 10:49] #205 closed

[2017-01-19 13:32] sam961 commented on #202
CGAffineTransform is doing the job.
But when reading the end of the webview...It is not moving to the next chapter....
What could be the problem ?

[2017-01-19 13:33] sam961 commented on #124
CGAffineTransform is  better
But when reading the end of the webview...It is not moving to the next chapter....
What could be the problem ?
maybe we should add another one in some function ?

[2017-01-19 13:34] hebertialmeida commented on #202
This is a really good question, I tested couple books and seems that some work, and others not.

As I don't understand RTL languages is very hard to even test it 😄

[2017-01-19 13:36] hebertialmeida commented on #202
We may can discuss it on Slack, there are some guys that understand a lot of ePub. I have asked you on gitter for an email, so I can invite you.

[2017-01-19 13:38] sam961 commented on #202
Hehe, iam working on it and It must be solved...it is not related to arabic books anymore.
I put the same function for english books, and when it reached the end of the webview it stucks.
Ok i will be ready for an invite

[2017-01-19 14:57] revolter commented on #202
Isn't this a duplicate of #124?

[2017-01-19 15:09] hebertialmeida commented on #202
@revolter It is.

[2017-01-19 15:09] #202 closed

[2017-01-19 16:33] danfsd commented on #43
Leaving the database approach aside, I recently discovered a Javascript library called [markjs](https://markjs.io/). It can be easily integrated with our project but it has a couple of downsides:
- Book search would probably work **ONLY** for each chapter, and not for the book as a whole;
- Search controls would be a lot easier to integrate with the library if they are made with HTML/Js instead of

[2017-01-21 02:28] ghost opened #207 "Custom Font make crash"
FolioReaderKit Version is 1.1.0, if you use custom font, it will make a crash. The crash is that  array out of bound, I hope author could fix it, thanks.
[code]

<img width="952" alt="qq20170121-102619 2x" src="https://cloud.githubusercontent.com/assets/10344959/22171245/bad1ea92-dfc4-11e6-96d5-f451d10d737c.png">

[2017-01-21 03:07] JobsCrazy commented on #207
@hebertialmeida

[2017-01-24 07:54] zh-wowtv opened #208 "Gallery and html widget is not support"
Tested your example. Found the gallery and html widget is not supported. Do you have any plan to support them? Thanks.

[2017-01-24 13:00] osalginci opened #209 "Page Flip"
Hi, Thanks for sharing this excellent library. İs it possiple page transitions as page flip ?
;Thanks

[2017-01-24 13:02] hebertialmeida commented on #209
No it is not possible, I don't think we will support that in a soon future.

[2017-01-24 13:02] #209 closed

[2017-01-24 23:13] zh-wowtv commented on #200
Yes, it would be very nice to implement it like what iBook does.

[2017-01-24 23:16] zh-wowtv commented on #54
I think there are some other pdf reader already. For example, mupdf, it's quite nice.

[2017-01-30 10:38] sam961 commented on #207
did u added it to the css file too ?

[2017-01-30 10:42] sam961 commented on #197
for zoom try to add this into folioreaderpage 👍
webview.scalesPageToFit=YES

[2017-02-01 23:40] iamgooddeveloper commented on #203
I'm using CocoaPods

1) in Podfile:
`pod 'FolioReaderKit', '~> 1.0.0'`

2) in ViewController:
`@import FolioReaderKit; `

3) in function:
[code]

[2017-02-02 05:52] kashiftriffort opened #210 "Arabic epub file"
Hi,

Does it work for Arabic epub file. Please let me know.

[2017-02-02 08:44] sam961 commented on #210
Yes it works but you should do some edits, you will face some issues on horizontal scrolling

[2017-02-02 08:45] sam961 opened #211 "Invert Selection Indicator"
![simulator screen shot feb 2 2017 10 42 55 am](https://cloud.githubusercontent.com/assets/4921874/22542472/99df43b0-e934-11e6-9f18-a859de90e3d1.png)

How to invert the start of the selection indicator from LTR to RTL.

The start of the text is from the right so the indicator should start from the right.

is it related to css or js or ios code ?

[2017-02-06 12:52] hebertialmeida commented on #211
This selection is native from iOS, may have to inform the right direction to webView, so it can invert that, but I have never tried.

[2017-02-09 09:55] payalbaldota commented on #167
@hebertialmeida
[Wildlife%20Adventure.zip](https://github.com/FolioReader/FolioReaderKit/files/763249/Wildlife.20Adventure.zip)
when we pass this file to FolioReader framework, empty file is displayed. We have validated the file using the link you provided. Can you please check what is the issue with the file. Why FolioReaderKit famework is not able to display it? as per our debugging file gets pa

[2017-02-14 12:25] hebertialmeida commented on #54
I think for now we will only focus on Epub.

[2017-02-14 12:25] #54 closed

[2017-02-14 12:36] hebertialmeida commented on #203
Do you think you can make Pull Request with a sample?

[2017-02-14 22:56] iamgooddeveloper commented on #203
@hebertialmeida Yes, I can

[2017-02-16 14:28] harishsave commented on #203
@iamgooddeveloper Thanks. I'm now able to open the ebook. All the options are working, but when I click on 'Aa' icon then the app crashes. I'm attaching the screenshot.
![error](https://cloud.githubusercontent.com/assets/13299197/23024977/4a94c9ca-f482-11e6-8f49-fd4fb9108715.png)

[2017-02-19 12:37] iamgooddeveloper commented on #203
@harishsave first of all what versions of Xcode and FolioReader you use?

[2017-02-20 16:09] TizFX commented on #141
I've the same issue.
I think that you should handle the anchor also in the line 235 of FolioReaderPage.swift, because the "href" variable is without the anchorFromURL string

FolioReader.shared.readerCenter?.changePageWith(href: href, animated: true)

[2017-02-21 08:55] payalbaldota opened #213 "Empty ePub file gets opened"
@hebertialmeida
[Wildlife%20Adventure.zip] (Could not upload epub file directly here) (https://github.com/FolioReader/FolioReaderKit/files/763249/Wildlife.20Adventure.zip)
when we pass this file to FolioReader framework, empty file is displayed. We have validated the file successfully using the link you provided(validator - http://validator.idpf.org). Can you please check what is the issue with th

[2017-02-23 07:06] TizFX commented on #141
Maybe I resolved the issue.
The problem was that you handle the anchor only if it is in the active page.

I edited a little your code.

First I added a variable that store the anchor string in _FolioReaderCenter.swift_:
**Line 68** `var anchor: String!`

In _FolioReaderPage.swift_ I set the anchor, if exist, to the variable:
**Line 242** `FolioReader.shared.readerCenter?.anchor = anchorFromURL`

A

[2017-03-02 12:58] shinss61 opened #214 "Loading 2 epubs at the same time for language learners"
Thank you for your great work !

I'm not a developer. This project is very impressive !!

It'll be great if i can load 2 language epubs at the same time.
When i read English version epub,
if i can change another language of similar page(based on % of chapter) with button, it might great.
Cause I'm not a native. So if possible it's excellent tool for language learner!

Thank you !

[2017-03-06 10:08] Julyyq opened #215 "Tap "Aa" button app crashed"
Error:
`assertion failed: Index at 3 is out of bounds: file /Users/Allen/o2/Pods/FolioReaderKit/Vendor/SMSegmentView/SMSegmentView.swift, line 240`

This error occurs with no 100%.

The problem seems be cause of the code in the `FolioReaderFontsMenu.swift`file:

    layoutDirection.selectSegmentAtIndex(scrollDirection?.rawValue ?? 0)

the rawValue sometimes returns wrong I guess , but I don't figu

[2017-03-07 06:13] Julyyq opened #216 "Epub file does not exist."
I use `AFNetworking` to download epub file from my server, this my method:
[code]

And success with log:
`File downloaded to: file:///Users/Allen/Library/Developer/CoreSimulator/Devices/291945E1-19E0-4F0D-B7DB-E40E4BCEE62F/data/Containers/Data/Application/741C7467-9C10-481F-9400-075285F39C04/Documents/epubname.epub`

But When I call `[FolioReader presentReaderWithParentViewController:self withEpub

[2017-03-07 06:46] Julyyq commented on #216
I made a mistake, I should use `[filePath path]` instead of `[filePath absoluteString]`.

[2017-03-07 06:46] #216 closed

[2017-03-07 18:17] worchyld opened #217 "[FolioReaderKit.FolioReaderCenter respondsToSelector:]: message sent to deallocated instance 0x7fb6f6188a00"
Recreation of bug:

In our project we launch the FolioReader in one view controller (Page A)
A user will close Page A to then do a push to Page B
On page B there is a normal vanilla UITextField with delegates, etc.
If a user
(a) launches the  FolioReader,
(b) then closes it
(c) goes Page B
(d) Presses on a given UITextField

A crash occurs, I was only able to locate the crash using Zombies

The cr

[2017-03-07 19:18] worchyld commented on #217
Seems to be the same issue as:  https://github.com/FolioReader/FolioReaderKit/issues/187

[2017-03-11 07:27] PravinNagargoje commented on #213
We are able to open the book. I think issue is not in the file, I also validated the book. It's clean. Make sure you are using latest version of FolioReaderKit framework. I have attached below screenshot of book I was able to open.
![simulator screen shot 11-mar-2017 12 46 01 pm](https://cloud.githubusercontent.com/assets/17273000/23821476/95d295dc-0659-11e7-8632-f5c61c6dd932.png)

[2017-03-11 15:36] PravinNagargoje commented on #186
@harikeerthipati  I have fixed your issue. New changes i have made as follows :
 1) tap and hold to see main menu(highlight, play etc..) and the nit will ask for color selection. after there was a issue that color menu not disappearing, I have fixed that also.
2) one tap on highlighted text it will directly show you color menu and two taps or tap and hold on highlighted text it will take you to th

[2017-03-15 03:17] zlyunduan opened #220 "Further displays"
Further displays shall have tap gestures built-in covering page forward, page backward, page up, page down, do you have time to do such a thing?

[2017-03-15 09:46] PravinNagargoje commented on #164
Hey, I have solved this issue and made PR.

[2017-03-16 11:29] PravinNagargoje commented on #207
Tried by adding to css and js files also, still gets crash at the time of using font. Works only if added iOS fonts.

[2017-03-17 08:55] PravinNagargoje commented on #160
Works fine for me on split view. Can describe exactly whats problem you are facing?

[2017-03-17 10:45] PravinNagargoje commented on #173
In  FolioReaderPage.swift file.
I think you don't need **isScrolling**  condition. If you remove it, it will never go to the last page in horizontal scrolling.
`open func webViewDidFinishLoad(_ webView: UIWebView) {
    //...

    let direction: ScrollDirection = FolioReader.needsRTLChange ? .positive() : .negative()

    if pageScrollDirection == direction && isScrolling && readerConfig.scrollDir

[2017-03-21 13:54] sejas opened #222 "0 Remaining pages"
Hi !
Do you know why I get 0 pages left ? Someone had the same issue?
It just happen sometimes, and when I change the chapter from the menu, then the app usually starts to show the right value.
https://www.youtube.com/watch?v=zkIqcguh-rM

Thank you !!!
Any help appreciated.

[2017-03-21 20:14] benyboariu commented on #142
@hebertialmeida As I know, in the zip I sent you some months ago, that feature was implemented. Please check ;)

[2017-03-22 11:59] PravinNagargoje commented on #222
Hey error is in FolioReaderCenter.swift

`func pagesForCurrentPage(_ page: FolioReaderPage?) {
        guard let page = page else { return }

		let pageSize = isDirection(pageHeight, pageWidth)
		pageIndicatorView?.totalPages = Int(ceil(page.webView.scrollView.contentSize.forDirection()/pageSize!))

		let pageOffSet = isDirection(page.webView.scrollView.contentOffset.x, page.webView.scrollView.con

[2017-03-22 12:32] EmersonCarpes commented on #142
@benyboariu I'm checking this, I must finish this implementation this week...I need put some code with yours.

[2017-03-25 04:53] #217 closed

[2017-03-27 11:31] ladmini opened #224 "A white background at the bottom when set to horizontal scrolling"
Hi dear,
Thank you so much for bringing me such a good epub reader. I found a problem when integration it. There is a white background at the bottom in the last page of each chapter when I set to horizontal page mode. You can refer to the picture below

http://chuantu.biz/t5/53/1490613571x2890173854.png
http://chuantu.biz/t5/53/1490614022x2890173854.png

I haven't solved this problem for a whole d

[2017-03-27 16:03] pklarl opened #225 "Problems with table rendering"
Hi guys,

we have some problems with the rendering of some tables in our EPUBs:
Screenshot: ![folioreadertable](https://cloud.githubusercontent.com/assets/26718597/24366238/c5b4b89a-1318-11e7-8e64-0f0a98a72d56.PNG)

Do you have any idea what this cause may be?

Thanks in advance!

[2017-03-28 15:51] tschob commented on #140
Is now in active development by @kevindelord

[2017-04-03 07:16] zkenes commented on #222
@PravinNagargoje Did you solve this issue?

[2017-04-04 15:34] gabrielvieira commented on #16
@hebertialmeida @tschob  i started to working in this feature by my needs, after implementing the layout of preview i can submit a pull request.

[2017-04-05 13:30] #164 closed

[2017-04-05 13:30] #186 closed

[2017-04-05 13:31] #173 closed

[2017-04-06 13:54] Arcovv opened #227 "Can't change UIWebView backgroundColor correctly when `paginationBreakingMode` is `.page` on night mode in iOS 10.3"
This bug happens in ios 10.3 or later. 😭

[2017-04-06 15:16] hebertialmeida commented on #227
Hi @Arcovv could you give more details on how to simulate that?

[2017-04-06 15:19] hebertialmeida commented on #222
Is it happening on latest master version?

[2017-04-06 15:21] hebertialmeida commented on #225
Tables are a big problem on epub, even on readers like iBooks. I think you will have to play a little bit with the book css.

[2017-04-06 15:26] hebertialmeida commented on #224
This is kind of a hack solution because of o a bug on webView. If we do not use this it will be black...

[2017-04-07 01:39] Arcovv commented on #227
Hi @hebertialmeida, it's can be simulated using the example book.

Open the `Sherlock Holmes A Scandal in Bohemia` book, change the `Day` mode to the `Night` mode. You see that javascript really change some text color by nightMode css file. But the background color of UIWebView still does not change.

This apperance when setting `paginationBreakingMode` to `.page` or using `css multiple columns` t

[2017-04-07 03:38] Julyyq commented on #215
Yes, it's reproducible on latest master version, I just fetch new master code and try it, app will crash on the following line in `SMSegmentView.swift` file as before:

![screen shot 2017-04-07 at 11 29 15](https://cloud.githubusercontent.com/assets/2620575/24784519/b623d01c-1b85-11e7-9c80-4eb7cb00a3de.png)

I try to figure out the problem, find that the line `layoutDirection.selectSegmentAtIndex(

[2017-04-07 08:00] pklarl commented on #225
The rendering in other readers such as iBooks (iOS), Icecream (Windows), Bookari (iOS and Andoid), and EPUBReader (Firefox Add-on) works well.

iBooks:
![ibookstable](https://cloud.githubusercontent.com/assets/26718597/24791033/e16418ca-1b78-11e7-95ea-7937b90a5897.png)

Bookari:
![bookaritable](https://cloud.githubusercontent.com/assets/26718597/24791013/ce876590-1b78-11e7-9d72-c58a4ba4cce4.png)

[2017-04-07 09:09] zkenes commented on #222
@hebertialmeida yes, it is.

[2017-04-07 19:33] SalarDastan commented on #215
same here
![screen shot 2017-04-08 at 12 01 55 am](https://cloud.githubusercontent.com/assets/23551399/24816623/b6775a3e-1bee-11e7-8ab1-1ab8e5f49717.png)

`@IBAction func readBookPressed(_ sender: UIButton) {
        let config = FolioReaderConfig()
        let bookPath = Bundle.main.path(forResource: "nimtaj", ofType: "epub")
        FolioReader.presentReader(parentViewController: self, withEpubP

[2017-04-08 08:40] iMemento commented on #215
Same here when I pressed Aa Button, app crashed. I think the reason is that I set TTS enable false.

[2017-04-08 18:22] mitulmarsonia commented on #171
![screenshot 2017-04-08 23 51 28](https://cloud.githubusercontent.com/assets/10178632/24831403/6da74238-1cb6-11e7-877c-8522e4501532.png)
Getting version error.

[2017-04-08 18:56] mitulmarsonia commented on #215
I'm also getting crashed. Can you please fix it.
Thank you.

[2017-04-08 19:13] mitulmarsonia commented on #215
I have find out solution:-

Just go to **SMSegmentView.swift** and replace below function.

`    func selectSegmentAtIndex(_ index: Int) {
//    assert(index >= 0 && index < self.segments.count, "Index at \(index) is out of bounds")
        if index>1
        {
            self.selectSegment(self.segments[1])
        }else{
            self.selectSegment(self.segments[index])
        }

    }`

[2017-04-09 13:15] phalladar opened #229 "Simple way to get book html?"
This library looks great in terms of a full-screen drop-in ePub reader but I'm wondering if there's a simple way for me to just grab the book html. I've spent some time poking through the code and I haven't been able to successfully do that yet.

Any advice would be appreciated.

[2017-04-10 06:49] tschob commented on #229
Hi @phalladar, do you just want to get html content or just display the book without the extra stuff (navigation bar, menu etc.)?

[2017-04-10 13:12] phalladar commented on #229
Hey @tschob, I would like to have 100% control over the presentation of the textual book content. So ideally there would be a way for me to just grab the text (or HTML)

[2017-04-11 11:35] zuil7 opened #230 "epub responsive layout support"
Hi,

Great app you have here. Just wanted to ask if this supports responsive layout for epub. I created a epub using this app https://www.pubcoder.com/ . Just notice that it is not responsive. The alignment of the images is a bit off. Is there something i need to set to make it responsive depending on the ios device?

Thanks!

[2017-04-12 06:59] SuperZico opened #231 "Why my NightMode cant change BGColor"
![img_0516](https://cloud.githubusercontent.com/assets/13212385/24945132/ac418828-1f90-11e7-9ab0-880c758ea2b6.PNG)

[2017-04-12 10:22] Julyyq commented on #231
@SuperZico There's a bug to set night mode. You could modify style.css file to change colors in night mode. See [example](https://github.com/Julyyq/FolioReaderKit/commit/8fc53a593529c9ae8dd9b368e3af663bd5d56e22) .

[2017-04-12 13:24] SuperZico commented on #231
@Julyyq thx~~~it help me a lot~~

[2017-04-13 03:14] twototwoto commented on #97
I found that when the content which contains blank line like this, it will not highlight the words correctly. while the words will not decrease.
![beforehighlighted](https://cloud.githubusercontent.com/assets/18694645/24988550/3b7a2e16-2039-11e7-8335-304d558c6ea9.png)
![afterhighlighted](https://cloud.githubusercontent.com/assets/18694645/24988554/40e10cc6-2039-11e7-8109-2c5296598275.png)

 If the

[2017-04-13 03:42] twototwoto commented on #215
**when I tap the Aa, I encounted the same problem.**

**After I pod it in my app, while run it in my real iPad，**
![real ipad](https://cloud.githubusercontent.com/assets/18694645/24989021/1f103010-203c-11e7-9232-1a8352810919.png)

**when I run it in simulator,**
![simulatorrun](https://cloud.githubusercontent.com/assets/18694645/24989304/32598fca-203e-11e7-9086-f2de78a10831.png)

[2017-04-13 08:00] tschob commented on #229
@phalladar  Maybe this fits your needs:

`FolioReaderCenterDelegate` calls the method `htmlContentForPage(_ page: FolioReaderPage, htmlContent: String) -> String` before the html is shown. The function contains the html which FolioReader created as parameter. The return String will replace the html inside the FolioReader.

Example:

[code]

[code]

[2017-04-13 20:12] phalladar commented on #229
Kind of odd but for some reason even after setting the delegate `htmlContentForPage` isn't getting called.

That aside, it seems like in order to trigger it I will have to call `presentReader`, no? I would really like to not present the UI at all and just grab the text.

[2017-04-17 13:27] Xopoko opened #232 "Empty page after Cover Image"
In the horizontal scrolling, in each book, after the Cover Image, the next page is just empty. In the vertical there is no such problem. Is there a solution for this? In Example project i see same bug.

[2017-04-18 01:54] GodYuanWang commented on #231
@Julyyq look like it doesn't work

[2017-04-18 02:01] Julyyq commented on #231
@GodYuanWang It works definitely. 💯

[2017-04-19 08:02] GodYuanWang opened #233 "page/chapter change bug"
![bug](https://cloud.githubusercontent.com/assets/17892174/25168687/13b6c3c0-2517-11e7-9772-81419ca70eca.gif)![bug](https://cloud.githubusercontent.com/assets/17892174/25169378/604ba276-2519-11e7-9662-86d4549626d7.gif)

@hebertialmeida  What's happen with that? And in **.horizontal direction** the **nightMode** doesn't work.

[2017-05-01 17:33] ianyh commented on #215
I ran into this the other day. I think the problem is something going wrong between versions. I had `FolioReader.currentScrollDirection == 3`, which maps to `.defaultVertical`. The check here

https://github.com/FolioReader/FolioReaderKit/blob/6bfb0550b4e5272b73f8200901c43c14e441a45a/Source/FolioReaderFontsMenu.swift#L242

does not trigger because the config also has `.defaultVertical`. There's on

[2017-05-04 07:11] hien352911 opened #234 "Highlight a sentence when double click a word in a sentence"
As title, i want highlight a sentence when double click a word in a sentence. But i not yet solution.

[2017-05-05 09:13] #234 closed

[2017-05-07 19:08] aaisataev opened #235 "Cyrillic epub file"
Hi,

Does it work for Cyrillic epub file. Please let me know.

[2017-05-08 08:04] zuil7 opened #236 "EPub with audio: Audio keeps on looping"
Hi
i have created a epub with audio read aloud. On the first page the audio is playing well but when the page changes the audio on the first page keeps on looping. I added also a audio file for read aloud on every page. It Should play the audio file on every page. Is there anything i can change to play the right audio i attached to every page? hoping for your response.

Thanks!

[2017-05-11 09:09] twototwoto commented on #215
I do not know what is wrong. Maybe we can change the code as follows . Maybe it is bad way,while if we are in a hurry, I think we can change it to run it normally
![Uploading changeIt.png…]()
![Uploading runNormally.png…]()

[2017-05-11 15:37] ianyh commented on #215
I just opened a quick PR that fixes and hopefully better illustrates the issue. #238

[2017-05-12 10:57] umarchohan commented on #231
@Julyyq can you share your style.css file with me ?

[2017-05-14 05:18] SalarDastan commented on #37
hey guys i'm having this problem too
did you sloved that??

[2017-05-17 13:45] umarchohan commented on #80
@taku33
can you convert your repo in swift 3 ?

[2017-05-21 20:58] mlanin opened #240 "Epub file does not exist"
Hi! I'm completely new to swift and ios development, so probably I'm doing everything wrong, but I can't open any book at all ((

I'm saving all my downloaded .epub files to `Documents` directory and then opening them using this method:

[code]

But when I run this code, error happens:
[code]

What am I doing wrong? I've tried to search similar issue here, but nothing helped... Thank you in advanc

[2017-05-21 21:16] mlanin commented on #240
Understood my mistake. Thanks to #216

[2017-05-21 21:16] #240 closed

[2017-05-21 21:19] mlanin commented on #240
But now I'm getting this, that seems quite common too ))
[code]

[2017-05-27 21:46] nicoachkasov commented on #215
I don't know... Just for it to work ASAP, I just commented out the assertion and used the 0 index.
<img width="765" alt="screen shot 2017-05-28 at 12 45 19 am" src="https://cloud.githubusercontent.com/assets/6266153/26524543/fa1c1000-433e-11e7-8045-ea5219e5bfbb.png">

[2017-05-29 15:02] hebertialmeida commented on #215
This is fixed on @ianyh PR #238 thanks guys!!!

[2017-05-29 15:02] #215 closed

[2017-05-30 16:20] #140 closed

[2017-05-31 04:24] hebertialmeida commented on #214
This is now possible, there is even a example for that. #237

[2017-05-31 04:24] #214 closed

[2017-05-31 04:25] hebertialmeida commented on #182
@revolter Have you implemented that or the latest version provides what do you need?

[2017-05-31 04:26] hebertialmeida commented on #169
This should be fixed on latest version.

[2017-05-31 04:26] #169 closed

[2017-05-31 04:28] hebertialmeida commented on #203
@harishsave This crash is already fixed on latest master. @iamgooddeveloper Are you able to create a Objective-C and make a PR?

[2017-06-06 16:27] modecolems opened #241 "Fixed Layout Support"
It could be great if your reader support ePub 3 with `Fixed Layout`.

Thx.

[2017-06-09 06:25] liunianhuaguoyanxi opened #242 "Could you please plan FolioReader for iOS written in Objective-C？"
We very much look forward to FolioReader for iOS written in Objective-C.

[2017-06-09 13:35] hebertialmeida commented on #242
No plans for Objective-C, we may have some Objective-C examples, but not write the framework in it.

[2017-06-09 13:35] #242 closed

[2017-06-12 06:31] ahlawatvipin opened #243 "Search Feature not found -- Feature Request"
Add the search feature, include search text in current page as well as whole book

[2017-06-14 15:20] ladmini commented on #227
Same. Any update?

[2017-06-15 02:24] ladmini commented on #224
@hebertialmeida Yes, I understand your code. If we need to customize the theme, then we need to customize this color. Thank you very much

[2017-06-15 02:35] hebertialmeida commented on #224
This is a awkward solution, but for now I don't have a better solution for this...

[2017-06-15 02:35] #224 closed

[2017-06-15 02:36] hebertialmeida commented on #243
This is duplication of #43. Closing for now.

[2017-06-15 02:36] #243 closed

[2017-06-15 03:15] #231 closed

[2017-06-15 03:15] hebertialmeida commented on #227
The fix is on master, I have other fixes to do, but please try that.

[2017-06-15 03:15] #227 closed

[2017-06-15 03:16] hebertialmeida commented on #231
The fix is on master, I have other fixes to do, but please try that.

[2017-06-21 06:46] LambentWu opened #244 "Hi man, do u have objective-c Version? :)"

[2017-06-22 02:56] returnight opened #245 "Core text replace WebView"
Do you have any plan to use Core text to replace WebView for FolioReader?

[2017-06-22 14:13] hebertialmeida commented on #245
No plans, ePub rely on HTML and a lot of CSS, not that simple to solve the CSS dynamic styling part, no plans for that. Maybe in the future I would change the UIWebView for WKWebView.

[2017-06-22 14:13] #245 closed

[2017-06-22 14:14] hebertialmeida commented on #244
No, when I have time I will write some obj-c sample code, not the library.

[2017-06-22 14:14] #244 closed

[2017-06-27 07:23] lapinvert opened #246 "Is there a way to read the epub file from URL instead of from local ?"
For example if we want to read within the app an epub that we get from an external url such as :
http://example.com/some/epubfile.epub, can we somehow read it using this url, or should we write code for downloading it before ?

Thanks.

[2017-06-27 14:33] hebertialmeida commented on #246
Right know you have to download it, them read. You can easily do that using something like Alamofire.

[2017-06-27 14:33] #246 closed

[2017-07-05 11:58] thomers opened #247 "Problem with missing declarations"
I'm using FolioReaderKit in an ObjC project, integrated as Cocoapod.

When I try to import the Swift-bridge header

`#import <FolioReaderKit/FolioReaderKit-Swift.h>`

I cannot compile due to these errors:

[code]

`@import FolioReaderKit;` does not work - `Use of '@import' when modules are disabled`
And Cocoapods forces me to use `use_frameworks!`

Any ideas how to fix this?

[2017-07-05 12:23] thomers commented on #247
Of course, fixed within minutes after posting here.

The trick was to use
`@import FolioReaderKit; `
and set "Enable Modules" to YES (for the main target, not for the pods)

[2017-07-05 12:23] #247 closed

[2017-07-06 03:36] hebertialmeida commented on #247
Would be great if you could write a simple Obj-c sample and make a PR, many people ask for that 😄

[2017-07-06 05:47] harishsave opened #248 "How to change default Green color in Folio UI"
I want to change the default Green color in Folio viewer UI. How to do that?

[2017-07-06 21:32] rjo commented on #248
Use the tintColor property. For example:

`   override public func prepare(for segue: UIStoryboardSegue, sender: Any?) {
        if(segue.identifier == "reader") {
            let container = segue.destination as? FolioReaderContainer
            FolioReader.shared.delegate = self
            let bookPath = Bundle.main.path(forResource:bookId, ofType: "epub")
            let config = FolioReaderCo

[2017-07-07 01:08] rjo commented on #37
Just ran into this myself ... is anyone working on it?

[2017-07-07 01:09] TyroneZhang commented on #245
I've changed the UIWebView for WKWebView,it was faster than UIWebView.

On Thu, Jun 22, 2017 at 10:13 PM, Heberti Almeida <notifications@github.com>
wrote:

[2017-07-08 17:26] entonio opened #249 "Perform direct action instead of showing UIMenuController?"
Hi. I'm trying to create a reader focused on reading foreign language books, where being able to translate single words or entire paragraphs is the one and only concern. I'm only trying to write such a reader because I haven't found any that suits my use case. The now apparently inaccessible abookreader app (http://freapp.com/apps/ios/524345385/) did focus on translation, but it had quirks and is

[2017-07-09 03:44] hebertialmeida commented on #245
@tyroneZhang cold you make a pull request? Do you have it working?

[2017-07-11 01:20] TyroneZhang commented on #245
I didn't implement the  WKWebView in the original FolioReaderKit project,
but in my project.
I'm willing to implement the WKWebView in FoliaReaderKit In the near future.

On Sun, Jul 9, 2017 at 11:44 AM, Heberti Almeida <notifications@github.com>
wrote:

[2017-07-11 21:47] kjantzer commented on #37
@rjo Not that I'm aware of

[2017-07-13 11:21] ngocdtph03070 opened #250 "Has FolioReaderKit support read file from path local ?"
I downloaded file epub to my devicde i want read epub file from local
instead of use Bundle path with name file and file type. Please help me.

[2017-07-13 13:55] iconmamobility opened #251 "audio voices"
how to multiple audio voices?

[2017-07-13 15:10] hebertialmeida commented on #37
This is a very complicated topic, it is not just migrate to range, everyone that uses it will loss the highlights.

We need somehow to do a migration from old to new.

[2017-07-16 07:30] ahmedk92 opened #252 "How to build the example?"
I'm having hard time building the example. I'm using Xcode 8.3.3.

It complains about converting Swift code. And after conversion, it build successfully but the simulator just hangs.

[2017-07-17 11:26] ahmedk92 commented on #252
I found a temporary solution; that is to use the Swift 2.3 branch. But of course should be opened with an Xcode version that supports it (e.g. 8.2 like I did).

I followed the instructions [here](https://github.com/FolioReader/FolioReaderKit/issues/129). And had to replace the pod line in the example from:
`pod 'FolioReaderKit', path: '../'`
to:
`pod 'FolioReaderKit', :git => 'https://github.com/F

[2017-07-18 15:20] hebertialmeida commented on #252
If you use the branch master there is no need to conversion, I use Xcode 8.3.3 for development, there is no problem with that.

[2017-07-18 15:20] #252 closed

[2017-07-18 15:22] hebertialmeida commented on #250
This is the way to read books https://github.com/FolioReader/FolioReaderKit#basic-usage

[2017-07-18 15:22] #250 closed

[2017-07-18 15:51] hebertialmeida commented on #251
For TTS? Right know it uses the default system voice, I would be happy in approve a PR for that

[2017-07-18 15:51] #251 closed

[2017-07-18 15:55] hebertialmeida commented on #249
I think it is totally doable with FolioReaderKit, you can take a look here: https://github.com/FolioReader/FolioReaderKit/blob/master/Example/Storyboard-Example/ExampleFolioReaderContainer.swift#L24

How to handle click on specific objects, but for fully satisfy your need you will have to do couple customizations.

[2017-07-18 15:55] #249 closed

[2017-07-18 15:56] hebertialmeida commented on #248
Thanks @rjo

[2017-07-18 15:56] #248 closed

[2017-07-19 07:25] ahmedk92 commented on #252
Weird. I tried once more with this:
`pod 'FolioReaderKit', :git => 'https://github.com/FolioReader/FolioReaderKit.git', :branch => 'master'`

Still no avail.

[2017-07-20 13:21] iconmamobility commented on #207
i got below issue when i add custom font.

**fatal error: unexpectedly found nil while unwrapping an Optional value**

[2017-07-25 05:53] iconmamobility opened #253 "SemiNightmode"
How can we add extra mode like (Day Mode and Night Mode)?

[2017-07-25 19:36] majil opened #254 "Laggy on ios 9.3 (iPhone 6s Plus)"
Laggy on ios 9.3 (iPhone 6s Plus). Please fix it.

[2017-07-25 20:23] hebertialmeida commented on #254
Not enough information provided.

[2017-07-25 20:23] #254 closed

[2017-07-31 15:04] ansonham commented on #35
@hebertialmeida The implementation was out of date, any plan for  bookmark recently?

[2017-08-08 19:29] kjantzer commented on #236
Are you using a properly formatted media overlay?

[2017-08-08 19:30] kjantzer commented on #235
I believe it should, epub files are just html. Have you tried a Cyrillic epub file?

[2017-08-11 15:35] hsmoghaddasi opened #256 "not supporting swift 3.1"
hi, Tnx alot for this wonderfull package but when i tried to install pod file it say: No version of Xcode found that supports Swift 3.1

[2017-09-01 12:51] shivkumarsharma opened #257 "Not reading hindi epub file"
How can i read hindi epub file

[2017-09-06 05:58] zlyunduan opened #258 "Changing the font size causes the page to appear in black and white when `paginationBreakingMode` is `.page` on night mode in iOS 10.3"
The smallest font size causes the page to appear in black and white，increasing the font causes some of the content to be blocked.

**_white and black_**
![img_2899](https://user-images.githubusercontent.com/15976022/30096361-99e4902e-930a-11e7-8fb7-8456d37030e7.PNG)

**_blocked_**
![img_2900](https://user-images.githubusercontent.com/15976022/30096389-b25f10b6-930a-11e7-99e6-9fe7eda4a2f4.PNG)

@he

[2017-09-06 10:19] Julyyq commented on #258
中国人用这个库的不少啊

[2017-09-10 16:45] thangbg opened #259 "window hierarchy"

[2017-09-10 16:45] #259 closed

[2017-09-12 10:30] wutzi15 opened #260 "Error building for iOS 10 with MenuItemKit"
I'm using this Podfile:
[code]
and this Controller:
[code]

I get the error:
[code]

I've already tried setting "Allow Non-modular Includes In Framework Modules" to YES as many solutions on google suggested, but it did not help.

When I comment out the EPUBController it works.

[2017-09-12 22:23] TreatDarren opened #261 "iOS 11 Layout issues"
The top controls don't show up and the bottom chapter title sits directly below the home indicator control.

You should be able to make use of the UIView Safe Margin insets features in iOS 11 to fix it.
👍

![simulator screen shot - iphone x - 2017-09-12 at 18 21 24](https://user-images.githubusercontent.com/20757336/30350986-3a9d6dfc-97e7-11e7-8395-8913e8382346.png)

[2017-09-19 12:59] das-palash-appsbee opened #262 "'FolioReader' initializer is inaccessible due to 'fileprivate' protection level"
When I write `let folioReader = FolioReader()` it throws _"FolioReader initializer is inaccessible due to 'fileprivate' protection level"_ error.
I tried to remove **fileprivate** and made it **public** but then I got error on the next line:
`folioReader.presentReader(parentViewController: self, withEpubPath: bookPath!, andConfig: config)`
And the error was:
_Static member 'presentReader' cannot b

[2017-09-20 09:11] litt1e-p opened #263 "Will FolioReaderKit support Swift 4.0?"
thanks for your great FolioReaderKit firstly, and will it support Swift 4?

[2017-09-21 08:21] mayooresan commented on #263
Wondering the same! 👍

[2017-09-21 13:32] hebertialmeida commented on #263
Yeah, it will, but I have not started yet

[2017-09-26 16:47] ali-zahedi opened #265 "Book Search"
Can I ask you, have you plan for release book search ?
and can I Donate for this issue?

[2017-09-27 15:40] zohdirizvi opened #266 "Unable to start with iOS Folio Reader /Swift3/Xcode 9"
I am a newbie to Xcode and through various youtube videos I was able to install Cocoapod in my xcode and have also downloaded and installed the foliokit but when I started implementing the example code to get started, xcode is saying **No such module 'FolioReaderKit'** although I have included it as described. Can anyone please help me? is it because of Xcode 9 or Swift 3? Would be really thankful

[2017-09-27 17:33] zohdirizvi commented on #266
<img width="1402" alt="screen shot 2017-09-27 at 5 30 14 pm" src="https://user-images.githubusercontent.com/32332499/30928029-65d5da3c-a3cb-11e7-8225-3ce8af34dc56.png">
<img width="1402" alt="screen shot 2017-09-27 at 5 30 29 pm" src="https://user-images.githubusercontent.com/32332499/30928030-66328a84-a3cb-11e7-9911-cb7ba727037e.png">

please see the screenshots..

[2017-09-27 17:34] zohdirizvi commented on #266
@hebertialmeida Your help needed sir.

[2017-10-02 08:09] odunsair commented on #263
Hi @hebertialmeida, We're still waiting.

[2017-10-03 06:22] odunsair commented on #262
+1

[2017-10-03 17:12] hebertialmeida commented on #262
As you can see FolioReader() is a open class.
https://github.com/FolioReader/FolioReaderKit/blob/a78952113b3b23fa6bae65626e10b7292ec0a13e/Source/FolioReaderKit.swift#L94

[2017-10-03 17:12] #262 closed

[2017-10-03 17:14] hebertialmeida commented on #261
Can you give more details, your screenshot, and description does not help.

[2017-10-03 17:21] TreatDarren commented on #261
I'm very unsure as to why you just closed this, the entire framework is broken on the major iPhone release coming out later this month.

The top nav does not render and the chapter title is rendered under the home indicator when built for iPhone X simulator. Any app submitted with this after Nov 1st will be rejected.
Apple added something called 'Safe Margins' in iOS 11 that solves this.

https://

[2017-10-03 18:23] hebertialmeida commented on #261
I have closed because your description was inaccurate. Thank you for the details. I have not tested yet on iOS iPhone X, if you have experience with that fix we would have a PR.

[2017-10-03 21:43] hebertialmeida commented on #261
@TreatDarren I did a quick look, maybe it is better to move FolioReaderKit layout calculation to something like SnapKit or Cartography. Because now almost 100% of the layout is calculated manually without auto layout.

[2017-10-03 21:45] hebertialmeida commented on #253
You have to fork the project and implement that, there is not currently a way to do that out of the box.

[2017-10-03 21:45] #253 closed

[2017-10-05 06:11] ansonham opened #267 "How to calculate the currentpage and totalpage for the whole book?"
It seems that the `totalPages` and `currentpage` in the `FolioReaderCenter` class is for the specified chapter, not for the whole book.

[2017-10-10 21:07] mgiroux commented on #12
Bug is still there in version 1.2.0
set to false will show the navigation.. otherwise nothing at all

[2017-10-10 21:13] mgiroux opened #268 "shouldHideNavigationOnTap not working"
There was a previous bug that was flagged as fixed but is still present in 1.2.0

if you set shouldHideNavigationOnTap to true.. the navigation never shows up. if you set it to false the navigation is shown but will never go away on tap.

Thanks

[2017-10-10 21:45] mgiroux opened #269 "Night Mode white background glitches"
Although there is a semi-fix on master there is still a white border issue in night mode (horizontal)

to fix this the css should be the following

![screen shot 2017-10-10 at 5 45 00 pm](https://user-images.githubusercontent.com/4205308/31412359-c6078510-ade2-11e7-9fa9-4f9e448a1db5.png)

[2017-10-11 14:12] SolomiyaN commented on #268
Got this issue as well. This happens in iOS 11 because `toggleBars()` method in `FolioReaderCenter` is being called twice — first, because tap explicitly calls it, and the second time because showing a bar moves the content down (in iOS 11 only), so `scrollViewDidScroll` gets called. So it does show up, although it hides too quickly to even notice it.

I do not have a ready solution for it so far,

[2017-10-11 22:00] mgiroux commented on #269
Issue should be closed if my PR is accepted

[2017-10-12 02:08] hebertialmeida commented on #268
@SolomiyaN Thanks for the details, I will take a look on that.

[2017-10-12 10:27] joshnaNalla opened #271 "Layout Issue After Integrating in Swift 4"
Hi,
I have Integrated FolioReaderKit in Xcode 9 and updated code to swift 4 , but getting layout issue with frames. Can anyone encountered with this problem please help me.
![screen shot 2017-10-12 at 3 57 17 pm](https://user-images.githubusercontent.com/32710126/31491759-0d3cb944-af66-11e7-8f7e-ce40b48cdfa5.png)

[2017-10-12 14:04] mgiroux commented on #271
Since FolioReader is not Swift 4 compatible, you must tell cocoapods to build FR in swift 3.2 add this to your Podfile

post_install do |installer|
        myTargets = ['FolioReaderKit', 'FontBlaster', 'MenuItemKit']

        installer.pods_project.targets.each do |target|
                if myTargets.include? target.name
                        target.build_configurations.each do |config|

[2017-10-12 14:42] mgiroux opened #272 "Read epub from remote server"
It would be nice to have `withEpubURL` to load remote epub documents.

[2017-10-13 03:53] zlyunduan commented on #268
In iOS 11, the `SafeAreaInset` causes Interface offset 64 When the `NavigationBar` is displayed, then the `scrollViewDidScroll` method is triggered, which in turn causes `NavigationBar` to hide again.
[code]

Add this to fix the problem. @hebertialmeida @SolomiyaN

[2017-10-13 07:46] SolomiyaN commented on #268
Thanks @zlyunduan, I completely missed it! You saved the day!

[2017-10-13 13:44] mgiroux commented on #268
in what file / line number?

[2017-10-15 12:03] wedranb commented on #263
Hi, thanks for creating this amazing reader/parser!

It would be nice if you create some plan for refactoring so that we can help.

Cheers! :)

[2017-10-16 15:27] hebertialmeida commented on #263
@wedranb Hey, yeah I will need help on that, the first step is to fully fix it for iOS 11 and iPhone X, then migrate to swift 4.

There is a discussion here https://github.com/FolioReader/FolioReaderKit/issues/261 and also https://github.com/FolioReader/FolioReaderKit/pull/270 that is going on. We definitely need help because I think the ideal implementation is to use the new safe layout guides.

[2017-10-17 08:48] SolomiyaN commented on #268
@mgiroux I've put it in `viewDidLoad` method in `FolioReaderCenter` class.

[2017-10-17 13:26] mgiroux commented on #268
it sorta works, thanks (by sorta i mean when you touch the screen it shows/hides but when you press on a button in the bar it should not hide but it does.. not a big deal)

[2017-10-17 13:29] SolomiyaN commented on #268
@mgiroux it works exactly as it does on iOS 10.

[2017-10-19 14:58] noxsicarius opened #273 "Pod error"
I have had the usual pod problem where you have the "No such module" error. The problem is that now it is actually failing to build. It was working great yesterday, came in today and it was working. Out of nowhere it stopped working and kept erroring out on "No such module" at build time. Usually when this happens I can fix it by running pod install again, however this time, there was an update to

[2017-10-19 17:56] noxsicarius commented on #273
Found out that this was due to some weird xcode problem. Reinstalled xcode, then had to uninstall/reinstall the pod to fix.

[2017-10-19 17:56] #273 closed

[2017-10-19 18:33] ahmedk92 opened #274 "View mirrors in RTL and horizontal scroll mode when the orientation changes"
I got that RTL support is achieved by mirroring the collection view, then mirroring each cell in the collection view. This works fine, but when the view rotates, the cell mirrors again.

[2017-10-24 03:32] luzhiyongGit opened #275 "How to set the theme for the reader?"
How to set the theme for the reader? I tried to set the background-color for the body but it can't cover the whole page. Do you have any idea ?

[2017-10-26 07:13] florent2009 opened #276 "IOS 11 Issues: positions of highlights and last page read not working"
Hello,

The last page read that used to be kept in memory, when you re-open an epub file is not working any more. Same thing for the highlights. The highlight links do not link to the correct position in the text.
This bug is only for IOS 11. On IOS 10, everything works perfectly.

Do any one know where this bug comes from?

Thank you by advance,

Best regards

[2017-10-27 10:13] florent2009 commented on #268
@zlyunduan Thank you you save my day as well !!!

[2017-10-27 15:53] wedranb commented on #267
Good question, I'm also interested in this data since this is common data needed for the applications.

[2017-11-01 13:49] odunsair commented on #276
+1

[2017-11-04 23:25] worchyld commented on #266
you need to open the .xcworkspace that cocoapods creates not .xcodeproj

[2017-11-06 05:26] HamGuy commented on #267
Do you have any idea about this? @wedranb

[2017-11-06 14:21] wedranb commented on #267
@HamGuy  Not, atm. But I will be looking into it this or next week.

[2017-11-10 11:52] EmersonCarpes commented on #256
Do you still have this problem? If yes, can you give more details please

[2017-11-10 13:10] odunsair commented on #263
Hi, thanks for this library!
How is going Swift 4 support update ? @hebertialmeida

[2017-11-10 19:55] noxsicarius opened #278 "Realm version update"
Is there a particular reason why realm 2.10 is used instead of realm 3? When using the realm browser it forces me to update the file to the newer format, breaking the app, because 2.10 can't read the new 3 format. This basically means I can't edit the files outside of the application, making testing a little annoying. I'm going to be trying to perform a realm version update on a forked copy of thi

[2017-11-11 12:33] wedranb commented on #267
Hey @hebertialmeida, this data is really important to know and it would be awesome to expose it somehow.

I'm not sure how to do this but if you could write on how to approach this maybe we could help.

Thanks! :)

[2017-11-11 22:45] noxsicarius commented on #278
It looks like realm 2.10 was used simply because the pod file was set up to only work with version 2.7 up to, but not including 3.0. This seems to have been an oversight of pod file syntax. I have since unlocked realm to allow any new versions of realm to be installed as there are no problems seen with the update. I have not modified any other pods as I have had no use to mess with them yet. I wil

[2017-11-12 15:06] credli commented on #59
@syrakozz How about sharing how you got it to work? I am facing this issue too.

[2017-11-13 18:27] hebertialmeida commented on #278
Could you open a PR for that?

[2017-11-13 18:29] #278 closed

[2017-11-15 10:02] ColinMurgatroyd opened #280 "Build failure?"
Hi,
I'm trying to install FolioReaderKit and I'm getting build failures. Since no-one else has reported a problem I guess it's something I'm doing/not doing but a bit stuck as to what that is. I'm installing through Carthage, updated to the latest version and have XCode version 8.3.3 (8E3004b) installed. I've attached the log file which shows a number of compile errors.

I'd be grateful for any ad

[2017-11-17 13:57] #280 closed

[2017-11-20 13:50] wedranb commented on #267
Hey @HamGuy I made some progress with this.

Try using `FolioReaderPageDelegate` on a VC where you are using FolioReader.

Then create `func pageDidLoad(_ page: FolioReaderPage)` to conform to protocol and assign page delegate `folioReader.readerCenter?.pageDelegate = self`

By doing this I think you can get data you wanted.

[2017-11-22 13:11] worksdelight-davinder opened #282 "Search and Notes"
Hi all

I have implemented notes with this SDK and its working fine like iPhone iBooks notes and implement search with sdk but its not working properly

Book search is works well.

I have one issues I did not get range of words when click on the searched text please help me if any one have solution

[2017-11-22 13:12] worksdelight-davinder commented on #282
Like highlight I want to switch on book with selected word after click on searched text

[2017-11-22 13:17] worksdelight-davinder opened #283 "Search issue"
![simulator screen shot - iphone 6 - 2017-11-22 at 18 43 45](https://user-images.githubusercontent.com/30112230/33129229-3f79fa74-cfb5-11e7-8973-e5bb699562c0.png)
![simulator screen shot - iphone 6 - 2017-11-22 at 18 44 00](https://user-images.githubusercontent.com/30112230/33129241-481c375a-cfb5-11e7-92de-5ac53a1ef98c.png)
![simulator screen shot - iphone 6 - 2017-11-22 at 18 44 00](https://user-

[2017-11-23 16:07] zohdirizvi opened #284 "Urgent help needed: FolioReader crashing in iOS"
Hello,

Thank you so much for the great library, but recently after the release of iOS 11.1.2, the Folio is crashing in iOS when I try to open two or three .epub file..the problem is coming when I try to open scroll the book content, and opening another book, the app crashes.

Please see the code implemented in Xcode and the "null" error coming in Xcode.

![whatsapp image 2017-11-23 at 6 33 16 pm]

[2017-11-24 07:51] m1faridi commented on #283
Please send this project

[2017-11-24 11:13] worksdelight-davinder commented on #283
I just want to resolve bus. are you able to help me to find out this bug

[2017-11-24 13:36] zohdirizvi commented on #284
@hebertialmeida can you pls help?

[2017-11-24 17:07] m1faridi commented on #283
Yes I want to help

[2017-11-27 05:30] worksdelight-davinder commented on #283
let htmlBodyResult = RegExp("<body(.|[\n])*</body>").matches(html!)

application is crashing on this line because I am parsing XML data
when I use HTML its working fine but on xml file its crashing

[2017-12-01 21:51] khallad opened #285 "text to speech for other languages"
does this library provide support for text to speech of arabic language?

[2017-12-06 19:20] prsolucoes opened #286 "Problems when use it with Carthage"
Hi,

I put the carthage dependency on my Cartfile and after compile everything an error happen on FolioReaderKit. The log is hosted on my dropbox:

https://www.dropbox.com/s/c7tjb1v2swo5hvi/folio-kit-log.txt?dl=1

Lot of errors happen.

Thanks.

[2017-12-08 14:27] naissa12 commented on #272
how can we do this? I need it too

[2017-12-09 01:42] khallad commented on #284
@zohdirizvi i am getting the same error. did you manage to fix it?

[2017-12-09 10:58] SalvatoreAD opened #288 "Pod installation not compatible with swift 3/4"
some libraries are not compatible with swift 3 and swift 4

[code]

[2017-12-10 02:33] jelnur opened #289 "Current page html fragment"
How can I get html fragment of the current page?
I've debugged delegate methods, but they give the whole html once loaded.
Thanks in advance

[2017-12-12 10:21] pklarl commented on #225
We have found the error. In the CSS file of the FolioReader `word-break `is set to `break-word` in two places:

[code]

As a result, especially in tables with non-uniform text distribution (for example, a lot of text in one column and little text in another column) in columns with little text, the words are partly wrapped between all the letters.

We were now able to correct the presentation of th

[2017-12-16 02:48] lufeifeiyue opened #290 "The difference between pages in navigation display and hiding"
The content of the page is distinctly different when the navigationBar is displayed and hidden, and it is expected to solve this problem,thank you.

![simulator screen shot - iphone 8 - 2017-12-16 at 10 40 46](https://user-images.githubusercontent.com/16662834/34066689-9e0aecf6-e24d-11e7-941b-f769e07a35e7.png)

![simulator screen shot - iphone 8 - 2017-12-16 at 10 40 50](https://user-images.github

[2017-12-18 05:49] chuikoffru opened #291 "Not installed by Carthage"
xCode 9.2, Swift 4
Create New project

iMac-Konstantin:bible chuikoff$ touch Cartfile
iMac-Konstantin:bible chuikoff$ nano Cartfile
iMac-Konstantin:bible chuikoff$ carthage update --platform iOS --no-use-binaries
*** Cloning FolioReaderKit
*** Cloning AEXML
*** Cloning ZFDragableModalTransition
*** Cloning FontBlaster
*** Cloning JSQWebViewController
*** Cloning ZipArchive
*** Cloning MenuItemKit

[2017-12-18 13:46] worksdelight-davinder opened #292 "Showing blank pages"
Hi dear developer

I am facing some issue when I parse book from pub second page of book will be black after cover of image when I scrolled it in horizontal

[2017-12-23 13:17] joshnaNalla opened #293 "How to add FolioReader as a subview in my custom view"
hi, i want to add folioReader as a subview to my viewcontroller how can i do this.. can any one help me

Thanks

[2018-01-05 14:30] noxsicarius commented on #292
I have a similar issue where the end of every "chapter" is a blank page. I'm currently looking into it myself and will post a fix if I find one.

[2018-01-08 02:49] ahamedsaifudeen opened #294 "Latest Realm Dependency"
We use FolioReaderKit in our app and we also use Realm (Swift) in our app. Looks like FolioReaderKit is also using Realm (Swift) and it is pulling the older version of Realm Swift (which creates some issues in our project), can you please ensure the latest realm is used in FolioReaderKit?

I am not sure if there is a workaround to solve my problem.

[2018-01-10 21:39] hebertialmeida commented on #294
Master should be using the updated version now

[2018-01-10 21:39] #294 closed

[2018-01-10 21:40] hebertialmeida commented on #291
The latest master version should be working.

[2018-01-10 21:40] #291 closed

[2018-01-10 21:40] hebertialmeida commented on #288
Swift 4 migration is done.

[2018-01-10 21:40] #288 closed

[2018-01-10 21:41] hebertialmeida commented on #286
#287 Should fix your problem :)

[2018-01-10 21:41] #286 closed

[2018-01-10 21:43] hebertialmeida commented on #271
The last master is using swift 4 now.

[2018-01-10 21:43] #271 closed

[2018-01-10 21:44] hebertialmeida commented on #269
Can you reproduce that on the last master?

[2018-01-11 06:30] pklarl commented on #225
It would be very helpful to get feedback on the described solution and answers to the two questions:
Is it really necessary to set word-break to break-word in "body" as well?
Is it maybe necessary for any functions in FolioReader?

[2018-01-11 14:31] SalvatoreAD commented on #288
When I build my project, on swift 3.2, a lot of compilation errors appear.

[2018-01-11 16:25] hebertialmeida commented on #225
To be honest with you I am not sure if it is necessary, but it definitely was in the past 😛. I did it years ago, and usually don't have to update it very often. I would go and use the fix that you did to specific.

What are your thoughts?

[2018-01-11 16:28] hebertialmeida commented on #285
If the book has the metadata property `language` set it should work, we use the native TTS, so also depends on iOS support for that.

[2018-01-11 16:28] #285 closed

[2018-01-11 16:29] hebertialmeida commented on #256
Closing this due to inactivity.

[2018-01-11 16:29] #256 closed

[2018-01-12 19:57] hebertialmeida commented on #268
@mgiroux @SolomiyaN @zlyunduan Is anyone able to properly fix this for iOS 11 and iPhone X but keeping the compatibility with iOS 10 and regular screen devices?

[2018-01-12 19:58] hebertialmeida commented on #266
Is this still happening in the latest master, I believe this can be closed.

[2018-01-12 19:58] #266 closed

[2018-01-12 19:59] hebertialmeida commented on #260
This should be fixed on latest master.

[2018-01-12 19:59] #260 closed

[2018-01-12 20:01] hebertialmeida commented on #230
FolioreaderKit does not support fixed layout epubs, only regular ones, you can use CSS media queries to show different things depending on the screen size.

[2018-01-12 20:01] #230 closed

[2018-01-12 20:03] hebertialmeida commented on #233
This is a known bug for a long time, but there is no solution that I know yet. because there are two scrollviews and sometimes they conflict the direction, that is why it happens.

[2018-01-12 20:04] hebertialmeida commented on #263
The swift 4 support is in the master branch.

[2018-01-12 20:04] #263 closed

[2018-01-12 20:05] hebertialmeida commented on #265
I want to implement that, but I am really shot in time so at some point it will eventually be implemented, but I can't guarantee.

[2018-01-12 20:06] hebertialmeida commented on #265
I will close this as it is duplicate of #43

[2018-01-12 20:06] #265 closed

[2018-01-12 20:07] hebertialmeida commented on #282
Cloud you open a Pull Request, so may I can help you with that.

[2018-01-12 20:09] hebertialmeida commented on #283
Please open a Pull Request so we can help you debug and try to fix that.

[2018-01-12 20:10] hebertialmeida commented on #284
is it still happening in latest master version?

[2018-01-12 20:11] hebertialmeida commented on #289
Could you explain a little bit more what you need to achieve?

[2018-01-12 20:13] hebertialmeida commented on #290
Hi @lufeifeiyue, what is expected to fix what? Could you add some context for me?

[2018-01-12 20:15] hebertialmeida commented on #292
This is an annoying bug, not sure if is the same as the end of every chapter, it is a WebView bug I believe. I am not aware of any workaround. Did you find any solution @noxsicarius?

[2018-01-14 23:34] CHPraxis opened #298 "Can't compile after updating to Xcode 9 - errors in dependencies?"
I upgraded to Xcode 9, and am no longer able to compile my project.  It seems like the issue is with AEXML and FontBlaster, which are being imported when I get FolioReaderKit in my Podfile.

AEXML has this error:
/Users/MyName/Programming/ProjectName/Pods/AEXML/Source/AEXML.swift:128:54: Function types cannot have argument labels; use '_' before 'element'

and this warning:
/Users/MyName/Programmi

[2018-01-15 16:10] hebertialmeida commented on #298
Are you sure that your project is migrated to swift 4? The latest `master` version of FolioReaderKit requires swift 4 to work as well the project dependencies.

If you need swift 3 support you will have to use a swift 3 compatible build, but not the `master`.

[2018-01-15 16:50] CHPraxis commented on #298
My apologies, my fault- looks like I forgot to run pod update and still had an older version.

[2018-01-15 16:50] #298 closed

[2018-01-15 21:42] khallad opened #299 "how to show title of the epub at the top bar"
i can see that the title of the epub is showing in the bar at the top of the screen in the demo section that is provided. How can i make it appear in my app because it is not being displayed

[2018-01-16 01:01] ahamedsaifudeen commented on #294
Thanks. I don't get the latest realm in latest version FolioReaderKit. Can you please let me know when you will be updating the pod version?

[2018-01-16 16:06] hebertialmeida commented on #268
Thanks to @ryan-w this is now fixed in a better way on #301

[2018-01-16 16:06] #268 closed

[2018-01-18 13:51] wesleycgs commented on #293
I do this with ContainerView, see Storyboard-Example in Demo project.
Then you can add your views above and behind container ;D

![image](https://user-images.githubusercontent.com/23085121/35101177-bb383222-fc45-11e7-9a14-dce59d5afac7.png)

[2018-01-18 14:07] wesleycgs opened #302 "Bug in getCurrentChapter(), not returning some chapters."
Chapters are in flatTableOfContents ok? But some chapters theres in children, and your method to get current chapter was not searching in toc children.

**ORIGINAL CODE:**
`func getCurrentChapter() -> FRResource? {`

    for item in self.book.flatTableOfContents {
        if
            let reference = self.book.spine.spineReferences[safe: (self.currentPageNumber - 1)],
            let resource =

[2018-01-18 19:34] hebertialmeida commented on #293
Thanks @wesleycgs, yeah this is the best way.

[2018-01-18 19:34] #293 closed

[2018-01-18 19:36] hebertialmeida commented on #299
Sorry, that gif is an old one and needs to be updated, we have changed the UI a lot and that is not available anymore because we have many buttons on the navigation bar.

[2018-01-19 06:53] jasmine9502 commented on #284
i have met the same question

[2018-01-24 05:40] dipakviprak opened #307 "long-tap issue for select word"
the long-tap issue for select word tap time then move another page and tap long in specific word then scroller another page automatically (Ex. Hack: are we able to trigger SHORT-tap automatically when scroll happens?  I believe that will set a new anchor point of words and solve the issue )

[2018-01-28 12:01] onivem opened #308 "The “Swift Language Version” (SWIFT_VERSION) build setting must be set"
Hey, I'm getting the following error:
**The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. This setting can be set in the build settings editor.**

for couple of pods FolioReaderKit is using:
**AEXML,
MenuItemKit,
JSQWebViewController,
FontBlaster**

It's possible to fix issue by providing setting SWIFT_VERSION setting for each

[2018-01-28 12:52] tschob commented on #308
Hey. CocoaPods 1.4.0 introduced a new way to specify the Swift version of a Pod. Instead of declaring it in the *.swift_version* file it has to be done in the *podspec* as `spec.swift_version` now. These changes have to be done in libraries.

But, you can change these build settings automatically anyway. Add the following code snippet to your Podfile to change the Swift version of a Pod:

[code]

[2018-01-30 09:51] iCodist commented on #308
After I pod FolioReaderKit，I found its code isn't Swift 4, I don't know why. My Xcode is 9.2, CocoaPods is 1.4.0.

[2018-01-31 08:25] sreejithsree123 opened #310 "how can we set the reading as word, sentence and paragraph mode?"
Now the epub reader is reading sentence so If the reader need word by word that should be reflected and for paragraph also so how can I do that. :) @hebertialmeida share if have any option for this or I have to want to do it another way please send the feedback. @katopz

[2018-01-31 16:36] hebertialmeida commented on #308
Is it fixed by #309?

[2018-02-01 21:23] revolter commented on #182
Wow, the many GitHub notifications I receive hid this, so, currently I don't need this anymore, and the metadata can be accessed using [these methods](https://github.com/FolioReader/FolioReaderKit/blob/71c9b59631f4a7bd05d18f2950d1fa2084ab0f44/Source/FolioReaderKit.swift#L312-L333).

[2018-02-01 21:23] #182 closed

[2018-02-01 23:08] hebertialmeida commented on #182
Alright!

[2018-02-02 09:18] omidgolparvar opened #311 "Version 1.3.0 is not available in Cocoapods"
The latest version installable via Cocoapods is `1.2.0`. How can I install version `1.3.0` via Cocoapods?

[2018-02-02 10:30] revolter commented on #311
Could you post the result of running `pod update FolioReaderKit` please?

[2018-02-02 14:30] omidgolparvar commented on #311
When I use `pod 'FolioReaderKit'` and install with `pod install` :

[code]

after that, I got these for `pod outdated`:
[code]

after `pod update`:
[code]

and also with `pod update FolioReaderKit ` I got:
[code]

Xcode 9.2
macOS Sierra 10.12.6
Cocoapods 1.4.0

[2018-02-02 14:34] omidgolparvar commented on #311
@revolter for more information, after `pod repo update` and `pod search "FolioReaderKit"` I got this:
[code]

[2018-02-02 14:38] revolter commented on #311
Right, I thought it's a problem of compatibility between this and other libraries. @hebertialmeida could you push the latest version to CocoaPods?

[2018-02-02 15:50] hebertialmeida commented on #311
It is not on cocoapods yet, but you can install directly pointing to the branch master. I will release it soon, still need some layout fixes on iPhone X

[2018-02-03 20:12] revolter commented on #261
I'd go with SnapKit.

[2018-02-04 09:30] onivem commented on #308
@hebertialmeida The issue still present in FolioReaderKit 1.2.0
While, as far as I see - issue is not with FolioReaderKit, but with it's dependancies:
**AEXML,
MenuItemKit,
JSQWebViewController,
FontBlaster**

[2018-02-05 19:47] tschob commented on #308
@hebertialmeida The issue is fixed for FolioReakderKit iself, but not for its dependencies. These have to provide versions which are build with CocoaPods 1.4.0 to make the workaround unnecessary.

[2018-02-09 11:57] onivem opened #312 "Navigation bar does not show"
As far as I see from the debugger, when user taps to show navigation - book does scroll a little, which in turn makes navigation bar to hide
Tested using the following sample -
http://www.litres.ru/gettrial/?art=137902&format=epub&lfrom=310326535

[2018-02-12 09:26] QuantumCPH commented on #284
@hebertialmeida yes it is still happening for version 1.2.0.
If user press on cancel button while the screen was scrolling then that crash happens.

[2018-02-12 11:07] levinIleaf opened #313 "total number of pages??"
Can we show pages left for the entire
book, rather than pages left for just
the current chapter?

[2018-02-12 20:50] hebertialmeida commented on #311
1.3.0 is being released now

[2018-02-12 20:50] #311 closed

[2018-02-12 20:51] hebertialmeida commented on #313
Currently, there is no way to get it, the current calculation only calculates the current chapter. I would love to see a Pull Request on that.

[2018-02-13 11:08] QuantumCPH commented on #284
@hebertialmeida please respond asap.

[2018-02-13 14:44] hebertialmeida commented on #284
Yesterday I have deployed a new version 1.3.0 this should be fixed. If it is not fixed I will need the books that are causing the crash.

[2018-02-13 14:44] #284 closed

[2018-02-14 12:51] carlhung opened #314 "Loaded the file but throwing error."
I used your sample code:

    import FolioReaderKit

    class StoryboardFolioReaderContrainer: FolioReaderContainer {
        required init?(coder aDecoder: NSCoder) {
            super.init(coder: aDecoder)

            let config = FolioReaderConfig()
            config.scrollDirection = .horizontalWithVerticalContent

            guard let bookPath = Bundle.main.path(forResource: "wonderland",

[2018-02-14 15:22] hebertialmeida commented on #314
I am not sure why this happened but, that's is probably a malformed book, try to run it on ePub Validator http://validator.idpf.org

You can also send me the book and I might take a look when I have some time.